# INITIAL DATA PREPERATION

By: Oscar Ko

This notebook is created for initial data preperation on this dataset from Stanford.

https://data.stanford.edu/hcmst2017

**NOTE:** I am conducting this on the dataset using the codebook to select the relevant variables and rename them to be easier to work with. For this initial preperation, I am only looking at the column names, the data type, and the unique classes. I am avoiding "exploring" the data to prevent "data snooping" and gaining any possible intutions and biases of the data.

---
---

# Imports and Data

In [41]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')


imported_data = pd.read_stata("data/HCMST 2017 fresh sample for public sharing draft v1.1.dta")

imported_data.shape

(3510, 285)

In [42]:
list(imported_data.columns)

['CaseID',
 'CASEID_NEW',
 'qflag',
 'weight1',
 'weight1_freqwt',
 'weight2',
 'weight1a',
 'weight1a_freqwt',
 'weight_combo',
 'weight_combo_freqwt',
 'duration',
 'speed_flag',
 'consent',
 'xlgb',
 'S1',
 'S2',
 'S3',
 'DOV_Branch',
 'Q3_Refused',
 'Q4',
 'Q5',
 'Q6A',
 'Q6B',
 'Q9',
 'Q10',
 'Q11',
 'Q12',
 'Q14',
 'Q15A7',
 'Q16',
 'Q16_Refused',
 'Q17A',
 'Q17B',
 'Q17C',
 'Q17D',
 'Q19',
 'Q20',
 'Q21A_Year',
 'Q21A_Month',
 'Q21B_Year',
 'Q21B_Month',
 'Q21C_Year',
 'Q21C_Month',
 'Q21D_Year',
 'Q21D_Month',
 'w6_identity',
 'w6_outness',
 'w6_outness_timing',
 'Q23',
 'Q24_Refused',
 'Q25',
 'Q26',
 'Q27',
 'Q28',
 'w6_friend_connect_1',
 'w6_friend_connect_2',
 'w6_friend_connect_3',
 'w6_friend_connect_4',
 'w6_friend_connect_Refused',
 'Q32',
 'Q34',
 'Q35_Refused',
 'w6_sex_frequency',
 'w6_otherdate',
 'w6_how_many',
 'w6_how_meet_Refused',
 'w6_otherdate_app',
 'w6_how_many_app',
 'Past_Partner_Q1',
 'w6_relationship_end_nonmar',
 'w6_breakup_nonmar',
 'w6_relationship_end_mar',
 'w6_who_breakup',
 'Q5_2',
 'Q6A_2',
 'Q9B_2',
 'Q10_2',
 'Q11_2',
 'Q12_2',
 'Q14_2',
 'Q15A7_2_1',
 'Q16_2',
 'Q16_2_Codes',
 'Q17B_2',
 'Q17C_2',
 'Q17D_2',
 'Q20_2',
 'Q21A_2_Year',
 'Q21A_2_Month',
 'Q21B_2_Year',
 'Q21B_2_Month',
 'Q21C_2_Year',
 'Q21C_2_Month',
 'Q21D_2_Year',
 'Q21D_2_Month',
 'Q21E_2_Year',
 'Q21E_2_Month',
 'Q21F_2_start_range',
 'Q21F_2_Year',
 'Q21F_2_Month',
 'w6_identity_2',
 'w6_outness_2',
 'w6_outness_timing_2',
 'Q23_2',
 'Q25_2',
 'Q26_2',
 'Q27_2',
 'Q28_2',
 'w6_friend_connect_2_1',
 'w6_friend_connect_2_2',
 'w6_friend_connect_2_3',
 'w6_friend_connect_2_4',
 'w6_friend_connect_2_Refused',
 'Q32_2',
 'w6_otherdate_2',
 'w6_how_many_2',
 'w6_otherdate_app_2',
 'w6_how_many_app_2',
 'partyid7',
 'PERSNET_hom',
 'ppc10017',
 'ppc21310',
 'ppp20071',
 'ppp20072',
 'ppage',
 'ppagecat',
 'ppagect4',
 'ppeduc',
 'ppeducat',
 'ppethm',
 'ppgender',
 'pphhhead',
 'pphhsize',
 'pphouse',
 'ppincimp',
 'ppmarit',
 'ppmsacat',
 'PPREG4',
 'ppreg9',
 'pprent',
 'PPT01',
 'PPT25',
 'PPT612',
 'PPT1317',
 'PPT18OV',
 'ppwork',
 'Race_1',
 'Race_2',
 'Race_3',
 'Race_4',
 'Race_5',
 'Race_6',
 'race1',
 'race2',
 'race3',
 'race4',
 'race5',
 'race6',
 'race7',
 'race8',
 'race9',
 'race10',
 'race11',
 'race12',
 'race13',
 'race14',
 'race15',
 'w6_took_the_survey',
 'w6_prior_identity_lgb',
 'w6_same_sex_couple',
 'w6_same_sex_couple_gender',
 'w6_q4',
 'w6_q5',
 'w6_q6a',
 'w6_q6b',
 'w6_q9',
 'w6_q10',
 'w6_q11',
 'w6_q12',
 'w6_q14',
 'w6_q15a1_truncated',
 'w6_q15a4_truncated',
 'w6_q15a7',
 'w6_q16',
 'w6_q17',
 'w6_attraction',
 'w6_q19',
 'w6_q20',
 'w6_q21a_year',
 'w6_q21a_month',
 'w6_q21a_month_flag',
 'w6_q21b_year',
 'w6_q21b_month',
 'w6_q21b_month_flag',
 'w6_q21c_year',
 'w6_q21c_month',
 'w6_q21c_month_flag',
 'w6_q21d_year',
 'w6_q21d_month',
 'w6_q21e_year',
 'w6_q21e_month',
 'w6_q21f_year',
 'w6_q21f_month',
 'w6_identity_all',
 'w6_outness_all',
 'w6_outness_timing_all',
 'w6_q23',
 'w6_q24_length',
 'w6_q25',
 'w6_q26',
 'w6_q27',
 'w6_q28',
 'w6_friend_connect_1_all',
 'w6_friend_connect_2_all',
 'w6_friend_connect_3_all',
 'w6_friend_connect_4_all',
 'w6_q32',
 'w6_q34',
 'w6_otherdate_all',
 'w6_how_many_all',
 'w6_otherdate_app_all',
 'w6_how_many_app_all',
 'w6_number_people_met',
 'w6_otherdate_dichotomous',
 'w6_married',
 'relate_duration_at_w6_years',
 'w6_number_people_met_app',
 'weight_combo_v2',
 'partnership_status',
 'female',
 'year_fraction_met',
 'year_fraction_relstart',
 'age_when_met',
 'time_from_met_to_rel',
 'year_fraction_first_cohab',
 'time_from_rel_to_cohab',
 'hcm2017q24_R_cowork',
 'hcm2017q24_R_friend',
 'hcm2017q24_R_family',
 'hcm2017q24_R_sig_other',
 'hcm2017q24_R_neighbor',
 'hcm2017q24_P_cowork',
 'hcm2017q24_P_friend',
 'hcm2017q24_P_family',
 'hcm2017q24_P_sig_other',
 'hcm2017q24_P_neighbor',
 'hcm2017q24_btwn_I_cowork',
 'hcm2017q24_btwn_I_friend',
 'hcm2017q24_btwn_I_family',
 'hcm2017q24_btwn_I_sig_other',
 'hcm2017q24_btwn_I_neighbor',
 'hcm2017q24_school',
 'hcm2017q24_college',
 'hcm2017q24_mil',
 'hcm2017q24_church',
 'hcm2017q24_vol_org',
 'hcm2017q24_customer',
 'hcm2017q24_bar_restaurant',
 'hcm2017q24_party',
 'hcm2017q24_internet_other',
 'hcm2017q24_internet_dating',
 'hcm2017q24_internet_soc_network',
 'hcm2017q24_internet_game',
 'hcm2017q24_internet_chat',
 'hcm2017q24_internet_org',
 'hcm2017q24_public',
 'hcm2017q24_blind_date',
 'hcm2017q24_vacation',
 'hcm2017q24_single_serve_nonint',
 'hcm2017q24_business_trip',
 'hcm2017q24_work_neighbors',
 'hcm2017q24_met_online',
 'hcm2017_q24_length',
 'hcm2017q24_summary_all_codes',
 'w6_relationship_quality',
 'hcm2017q24_met_through_family',
 'hcm2017q24_met_through_friend',
 'hcm2017q24_met_through_as_nghbrs',
 'hcm2017q24_met_as_through_cowork',
 'w6_subject_race',
 'interracial_5cat',
 'partner_mother_yrsed',
 'subject_mother_yrsed',
 'partner_yrsed',
 'subject_yrsed']

---

**NOTES:** 

- There were many features in this dataset. Before even performing a train-test split, I wanted to reduce the number of features and only keep the relevant ones. There were also many duplicate columns that were unnecessary. 


- I also renamed all the selected features in a seperate duplicate dataset for more inuitive names.

---

# Select Specific Features to Use

- Some features are redundant.


    - For example, some are just recodings of each other.
    
    
- Some features contain more of the same information.


    - Q4 and w6_q4 contain subject's partner's gender, but only w6_q4 contains gender for couples that are still together AND couples that are broken up.
    
    - w6_q4 will be selected to use. Q4 will not be used.
    
    
- Some features I'm uncertain about whether or not they will be useful, so I will leave them commented out.

In [43]:
features = [
    
    "CASEID_NEW", # ID
    "w6_sex_frequency", # sexFrequency
    "ppp20072", # attendReligiousServiceFreq
    "pphhsize", # household size
    "pphouse", # type of house
    "ppincimp", # household income
    "ppmsacat", # metro area
    "pprent", # own, rent, other
    "ppwork", # employment status
    "w6_q15a1_truncated", # subject grew up in US?
    "w6_q15a4_truncated", # subject's living country when met partner
    "w6_q16", # how many relatives subject sees per month?
    "w6_q17", # how many times has subject been married?
    "w6_q23", # Who earned more (in 2016 or when last together)
    "interracial_5cat", # based on w6_subject_race and w6_q6b
    "age_when_met", # age when met in years,=ppage-(2017- w6_q21a_year)
    "w6_q4", # partner gender
    "partyid7", # subject's political party
    "w6_q12", # partner's political party
    "ppgender", # subject gender
    "S1", # isMarried
    "ppage", # subject age
    "w6_q9", # partner's age in 2017
    "subject_yrsed", # RECODE of ppeduc (Education (Highest Degree Received))
    "partner_yrsed", # RECODE of w6_q10 (partner's educational attainment)
    "subject_mother_yrsed", # RECODE of w6_q14 (Subject's mother's educational attainment)
    "partner_mother_yrsed", # RECODE of w6_q11 (partner's mother's Education)
    "w6_subject_race", # based on single races Race_x
    "w6_q6b", # partner's race
    "PPREG4", # region
    "w6_same_sex_couple_gender", # same sex couple specific (0=straight, 1=gay, 2=lesbian)
    "w6_attraction", # what gender(s) subject attracted to?
    "w6_q19", # couple living together?
    "w6_q34", # how would you describe the quality of your relationship with partner?
    "w6_identity_all", # subject sexual identity
    "PPT01", # household member age (number of babies in household ages 0-1)
    "PPT25", # household member age (number of toddlers in household ages 2-5)
    "PPT612", # household member age (number of children in household ages 6-12)
    "PPT1317", # household member age (number of teens in household ages 13-17)
    "PPT18OV", # household member age (number of adults in household ages 18+)
    
    # Year/Month of Relationship Stages  ---------------------------- 
    
#     "w6_q21a_year", # year subject first met partner
    "w6_q21a_month", # month subject first met partner
#     "w6_q21b_year", # year subject began romantic relationship w partner
    "w6_q21b_month", # month subject began romantic relationship w partner
#     "w6_q21c_year", # year subject first lived with partner
#     "w6_q21c_month", # month subject first lived with partner
#     "w6_q21d_year", # year subject married partner
#     "w6_q21d_month", # month subject married partner
#     "w6_q21e_year", # year of breakup
#     "w6_q21e_month", # month of breakup
#     "w6_q21f_year", # year partner died
#     "w6_q21f_month", # month partner died
    
    # (Fractions) Year/Month of Relationship Stages ---------------
    
    "year_fraction_met", # w6_q21a_year+((w6_q21a_month-0.5)/12)
    "year_fraction_relstart", # w6_q21b_year+((w6_q21b_month-0.5)/12)
    "time_from_met_to_rel", # year_fraction_relstart-year_fraction_met
    "year_fraction_first_cohab", # w6_q21c_year+((w6_q21c_month-0.5)/12)
    "time_from_rel_to_cohab", # year_fraction_first_cohab-year_fraction_relstart, neg reset to zero
    
    
    # Met in person -----------------------------------------------
    
#     "w6_q25", # did subject and partner attend same H.S.
#     "w6_q26", # did subject and partner attend same college
#     "w6_q27", # did subject and partner grow up in same city or town
#     "w6_q28", # did subject's parents know partner's parents before subject knew partner?
#     "w6_friend_connect_1_all", # subject knew partner's friends before meeting partner
#     "w6_friend_connect_2_all", # partner knew subjects friends before meeting subject
#     "w6_friend_connect_3_all", # subject's friends knew partner's friends before subject and partner met
#     "w6_friend_connect_4_all", # no prior connection between subject's friends and partner's friends
    
#     "hcm2017q24_R_cowork", # Respondent's coworker: indermediary or partner
#     "hcm2017q24_R_friend", # Respondent's friend: intermediary
#     "hcm2017q24_R_family", # Respondent's family: intermediary
#     "hcm2017q24_R_sig_other", # Respondent's (current or past) Significant Other: Intermediary
#     "hcm2017q24_R_neighbor", # Respondent's residential neighbor: intermediary or Partner
#     "hcm2017q24_P_cowork", # Partner's coworker: Intermediary or Respondent
#     "hcm2017q24_P_friend", # Partner's Friend: Intermediary
#     "hcm2017q24_P_family", # Partner's Family: Intermediary
#     "hcm2017q24_P_sig_other", # Partner's (current or past) Significant Other: Intermediary
#     "hcm2017q24_P_neighbor", # Partner's residential neighbor: Intermediary or Respondent
    
    "hcm2017q24_met_through_family", # 1 if R_family or P_family =1
    "hcm2017q24_met_through_friend", # 1 if R_friend or P_friend=1
    "hcm2017q24_met_through_as_nghbrs", # 1 if R_neighbor or P_neighbor=1
    "hcm2017q24_met_as_through_cowork", # 1 if R_cowork or P_cowork=1

    "hcm2017q24_school", # met in primary or secondary school
    "hcm2017q24_college", # met in college
    "hcm2017q24_mil", # met during military service
    "hcm2017q24_church", # met in or through church or religious organization
    "hcm2017q24_vol_org", # met through voluntary organization (non-church)
    "hcm2017q24_customer", # customer-client relationship
    "hcm2017q24_bar_restaurant", # restaurant, or othe public social gathering place
    "hcm2017q24_party", # private party
    
    "hcm2017q24_public", # met in public place
    "hcm2017q24_blind_date", # met on blind date
    "hcm2017q24_vacation", # met while on vacation
    "hcm2017q24_single_serve_nonint", # non internet single service
    "hcm2017q24_business_trip", # met while on business trip
    "hcm2017q24_work_neighbors", # met as work neighbors
    
    # Met online / dating app -----------------------------------------------
    
    "hcm2017q24_internet_other", # Internet, not otherwise classified
    "hcm2017q24_internet_dating", # met through Internet dating or phone app
    "hcm2017q24_internet_soc_network", # met through internet social networking
    
    "hcm2017q24_internet_game", # met through online gaming
    "hcm2017q24_internet_chat", # met through Internet chat
    "hcm2017q24_internet_org", # met through Internet site not mainly dedicated to dating

    "hcm2017q24_met_online", # met online, all kinds


    # to be filtered ---------------------
    
    "qflag", # DOV: Qualification Flag - Remove 2
    "speed_flag", # Respondents who completed survey in under 2 min - Remove under 2
    "S3", # Ever had a boyfriend or a girlfriend - Remove "No"
    "w6_took_the_survey", # Whether subject took the survey or was excluded
    "partnership_status", # Filter out 4 (never had) married, parner, ex
    
  
    
    # NOTE: The categorical education features below are redundant as there are numeric education columns
#     # to be recoded ----------------------
    
#     "ppeduc", # subject education
#     "w6_q10", # partner's education 
#     "w6_q11", # partner's mother's education
#     "w6_q14", # subjects's mother's education
    
    "ppethm", # subject is Hispanic -- convert to binary

]

df = imported_data[features].copy()

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

list(df.columns)

['CASEID_NEW',
 'w6_sex_frequency',
 'ppp20072',
 'pphhsize',
 'pphouse',
 'ppincimp',
 'ppmsacat',
 'pprent',
 'ppwork',
 'w6_q15a1_truncated',
 'w6_q15a4_truncated',
 'w6_q16',
 'w6_q17',
 'w6_q23',
 'interracial_5cat',
 'age_when_met',
 'w6_q4',
 'partyid7',
 'w6_q12',
 'ppgender',
 'S1',
 'ppage',
 'w6_q9',
 'subject_yrsed',
 'partner_yrsed',
 'subject_mother_yrsed',
 'partner_mother_yrsed',
 'w6_subject_race',
 'w6_q6b',
 'PPREG4',
 'w6_same_sex_couple_gender',
 'w6_attraction',
 'w6_q19',
 'w6_q34',
 'w6_identity_all',
 'PPT01',
 'PPT25',
 'PPT612',
 'PPT1317',
 'PPT18OV',
 'w6_q21a_month',
 'w6_q21b_month',
 'year_fraction_met',
 'year_fraction_relstart',
 'time_from_met_to_rel',
 'year_fraction_first_cohab',
 'time_from_rel_to_cohab',
 'hcm2017q24_met_through_family',
 'hcm2017q24_met_through_friend',
 'hcm2017q24_met_through_as_nghbrs',
 'hcm2017q24_met_as_through_cowork',
 'hcm2017q24_school',
 'hcm2017q24_college',
 'hcm2017q24_mil',
 'hcm2017q24_church',
 'hcm2017q24_vol_org',
 'hcm2017q24_customer',
 'hcm2017q24_bar_restaurant',
 'hcm2017q24_party',
 'hcm2017q24_public',
 'hcm2017q24_blind_date',
 'hcm2017q24_vacation',
 'hcm2017q24_single_serve_nonint',
 'hcm2017q24_business_trip',
 'hcm2017q24_work_neighbors',
 'hcm2017q24_internet_other',
 'hcm2017q24_internet_dating',
 'hcm2017q24_internet_soc_network',
 'hcm2017q24_internet_game',
 'hcm2017q24_internet_chat',
 'hcm2017q24_internet_org',
 'hcm2017q24_met_online',
 'qflag',
 'speed_flag',
 'S3',
 'w6_took_the_survey',
 'partnership_status',
 'ppethm']

# Filter Out Unqualified Subjects

Removing respondents who:
- weren't qualified for the survey
- did the survey questionably quickly
- have never had a partner
- were excluded from survey

In [44]:
isQualified = df["qflag"] == "Qualified"
overTwoMin = df["speed_flag"] == "Completed survey in over 2 minutes"
hasOrHadPartner = df["S3"] != "No"
tookTheSurvey = df["w6_took_the_survey"] == "took the survey"

print("Original dataset had", len(df), "rows.")

df_filtered = df[isQualified & overTwoMin & hasOrHadPartner & tookTheSurvey].copy()

print("Filtered dataset has", len(df_filtered), "rows.")

Original dataset had 3510 rows.
Filtered dataset has 3391 rows.

# Rename the Columns

- Creating a copy of the df_filtered to rename columns.

In [45]:
# make a copy of df dataframe

df_renamed = df_filtered.copy()

cols_to_keepOut = ["qflag", 
                   "speed_flag", 
                   "S3", 
                   "w6_took_the_survey", 
                   "partnership_status"]

df_renamed.drop(cols_to_keepOut, axis=1, inplace=True)

cols_to_rename = {
    "CASEID_NEW": "ID",
    "w6_sex_frequency": "sexFrequency",
    "ppp20072": "attendReligiousServiceFreq",
    "pphhsize": "householdSize",
    "pphouse": "houseType",
    "ppincimp": "householdIncome",
    "ppmsacat": "isMetroArea",
    "pprent": "ownHouseRentOther", # own, rent, other
    "ppwork": "employmentStatus", # employment status
    "w6_q15a1_truncated": "subjectGrewUpInUS", # subject grew up in US?
    "w6_q15a4_truncated": "subjectCountryWhenMetPartner", # subject's living country when met partner
    "w6_q16": "numRelativesSeePerMonth", # how many relatives subject sees per month?
    "w6_q17": "numOfTimesMarried", # how many times has subject been married?
    "w6_q23": "whoEarnedMore", # Who earned more (in 2016 or when last together)
    "interracial_5cat": "interracial", # based on w6_subject_race and w6_q6b
    "age_when_met": "subjectAgeWhenMet", # age when met in years,=ppage-(2017- w6_q21a_year)
    "w6_q4": "partnerGender", # partner gender
    "partyid7": "subjectPoliticalParty", # subject's political party
    "w6_q12": "partnerPoliticalParty", # partner's political party
    "ppgender": "subjectGender", # subject gender
    "S1": "isMarried", # isMarried
    "ppage": "subjectAge", # subject age
    "w6_q9": "partnerAge", # partner's age in 2017
    "subject_yrsed": "subjectEduc_years", # RECODE of ppeduc (Education (Highest Degree Received))
    "partner_yrsed": "partnerEduc_years", # RECODE of w6_q10 (partner's educational attainment)
    "subject_mother_yrsed": "subjectMotherEduc_years", # RECODE of w6_q14 (Subject's mother's educational attainment)
    "partner_mother_yrsed": "partnerMotherEduc_years", # RECODE of w6_q11 (partner's mother's Education)
    "w6_subject_race": "subjectRace", # based on single races Race_x
    "w6_q6b": "partnerRace", # partner's race
    "PPREG4": "region", # region
    "w6_same_sex_couple_gender": "straightGayLesbian", # same sex couple specific (0=straight, 1=gay, 2=lesbian)
    "w6_attraction": "genderSubjectAttractedTo", 
        # what gender(s) subject attracted to? (opposite gender, opposite but, both, same but, same gender)
    "w6_q19": "isLivingTogether", # couple living together?
    "w6_q34": "relationshipQuality", # how would you describe the quality of your relationship with partner?
    "w6_identity_all": "subjectSexualIdentity", # subject sexual identity
    "PPT01": "numOfHouseMembersAges0to1", # household member age (number of babies in household ages 0-1)
    "PPT25": "numOfHouseMembersAges2to5", # household member age (number of toddlers in household ages 2-5)
    "PPT612": "numOfHouseMembersAges6to12", # household member age (number of children in household ages 6-12)
    "PPT1317": "numOfHouseMembersAges13to17", # household member age (number of teens in household ages 13-17)
    "PPT18OV": "numOfHouseMembersAges18toOver", # household member age (number of adults in household ages 18+)
    
    # (Fractions) Year/Month of Relationship Stages ---------------
    
    "year_fraction_met": "met_YearFraction", # w6_q21a_year+((w6_q21a_month-0.5)/12)
    "year_fraction_relstart": "shipStart_YearFraction", # w6_q21b_year+((w6_q21b_month-0.5)/12)
    "time_from_met_to_rel": "met_to_shipStart_diff", # year_fraction_relstart-year_fraction_met
    "year_fraction_first_cohab": "moveIn_YearFraction", # w6_q21c_year+((w6_q21c_month-0.5)/12)
    "time_from_rel_to_cohab": "shipStart_to_moveIn_YearFraction", # year_fraction_first_cohab-year_fraction_relstart, neg reset to zero
    
    
    # met in person (specific) -----------------------------------------------------
    
    "hcm2017q24_met_through_family": "metThru_family", # 1 if R_family or P_family =1
    "hcm2017q24_met_through_friend": "metThru_friend", # 1 if R_friend or P_friend=1
    "hcm2017q24_met_through_as_nghbrs": "metThru_orAs_neighbors", # 1 if R_neighbor or P_neighbor=1
    "hcm2017q24_met_as_through_cowork": "metThru_orAs_coworkers", # 1 if R_cowork or P_cowork=1
    
    "hcm2017q24_school": "metIn_school", # met in primary or secondary school
    "hcm2017q24_college": "metIn_college", # met in college
    "hcm2017q24_mil": "metIn_military", # met during military service
    "hcm2017q24_church": "metIn_church", # met in or through church or religious organization
    "hcm2017q24_vol_org": "metIn_voluntaryOrg", # met through voluntary organization (non-church)
    "hcm2017q24_customer": "metAs_customerAndClient", # customer-client relationship
    "hcm2017q24_bar_restaurant": "metIn_restaurantOrBar", # restaurant, or other public social gathering place
    "hcm2017q24_party": "metIn_privateParty", # private party
    
    "hcm2017q24_public": "metIn_public", # met in public place
    "hcm2017q24_blind_date": "metOn_blindDate", # met on blind date
    "hcm2017q24_vacation": "metOn_vacation", # met while on vacation
    "hcm2017q24_single_serve_nonint": "metThru_notInternetDatingService", # non internet single service
    "hcm2017q24_business_trip": "metOn_businessTrip", # met while on business trip
    "hcm2017q24_work_neighbors": "metAs_coworkers", # met as work neighbors
    
    
    # Met online / dating app -----------------------------------------------
    
    
    "hcm2017q24_internet_dating": "metOnline_datingSiteOrApp", # met through Internet dating or phone app
    "hcm2017q24_internet_soc_network": "metOnline_socialNetwork", # met through internet social networking
    
    "hcm2017q24_internet_game": "metOnline_gaming", # met through online gaming
    "hcm2017q24_internet_chat": "metOnline_chat", # met through Internet chat
    "hcm2017q24_internet_org": "metOnline_nonDatingSite", # met through Internet site not mainly dedicated to dating
    
    "hcm2017q24_internet_other": "metOnline_other", # Internet, not otherwise classified

    "hcm2017q24_met_online": "metOnline_all", # met online, all kinds


}

    
df_renamed.rename(columns=cols_to_rename, inplace=True)

list(df_renamed.columns)

['ID',
 'sexFrequency',
 'attendReligiousServiceFreq',
 'householdSize',
 'houseType',
 'householdIncome',
 'isMetroArea',
 'ownHouseRentOther',
 'employmentStatus',
 'subjectGrewUpInUS',
 'subjectCountryWhenMetPartner',
 'numRelativesSeePerMonth',
 'numOfTimesMarried',
 'whoEarnedMore',
 'interracial',
 'subjectAgeWhenMet',
 'partnerGender',
 'subjectPoliticalParty',
 'partnerPoliticalParty',
 'subjectGender',
 'isMarried',
 'subjectAge',
 'partnerAge',
 'subjectEduc_years',
 'partnerEduc_years',
 'subjectMotherEduc_years',
 'partnerMotherEduc_years',
 'subjectRace',
 'partnerRace',
 'region',
 'straightGayLesbian',
 'genderSubjectAttractedTo',
 'isLivingTogether',
 'relationshipQuality',
 'subjectSexualIdentity',
 'numOfHouseMembersAges0to1',
 'numOfHouseMembersAges2to5',
 'numOfHouseMembersAges6to12',
 'numOfHouseMembersAges13to17',
 'numOfHouseMembersAges18toOver',
 'w6_q21a_month',
 'w6_q21b_month',
 'met_YearFraction',
 'shipStart_YearFraction',
 'met_to_shipStart_diff',
 'moveIn_YearFraction',
 'shipStart_to_moveIn_YearFraction',
 'metThru_family',
 'metThru_friend',
 'metThru_orAs_neighbors',
 'metThru_orAs_coworkers',
 'metIn_school',
 'metIn_college',
 'metIn_military',
 'metIn_church',
 'metIn_voluntaryOrg',
 'metAs_customerAndClient',
 'metIn_restaurantOrBar',
 'metIn_privateParty',
 'metIn_public',
 'metOn_blindDate',
 'metOn_vacation',
 'metThru_notInternetDatingService',
 'metOn_businessTrip',
 'metAs_coworkers',
 'metOnline_other',
 'metOnline_datingSiteOrApp',
 'metOnline_socialNetwork',
 'metOnline_gaming',
 'metOnline_chat',
 'metOnline_nonDatingSite',
 'metOnline_all',
 'ppethm']

---
---

# Recoding Features

- Reduce the categories of education down to just five:


    - 1-Less than high school
    - 2-High school
    - 3-Some college
    - 4-Bachelor's degree
    - 5-Professional or Graduate degree

**NOTE: The code below has been commented out as the categorical education columns are redundant. We already have numeric education columns.**

In [46]:
# print(list(df_renamed["ppeduc"].unique()))
# print("- - -")
# print(list(df_renamed["w6_q10"].unique()))

**NOTE: The code below has been commented out as the categorical education columns are redundant. We already have numeric education columns.**

In [47]:
# education_recodings = {"No formal education": "1-Less than high school",
#                        "1st-4th grade": "1-Less than high school",
#                        "1st, 2nd, 3rd, or 4th grade": "1-Less than high school",
#                        "5th or 6th grade": "1-Less than high school",
#                        "7th or 8th grade": "1-Less than high school",
#                        "9th grade": "1-Less than high school",
#                        "10th grade": "1-Less than high school",
#                        "11th grade": "1-Less than high school",
#                        "12th grade no diploma": "1-Less than high school",
#                        "12th grade NO DIPLOMA": "1-Less than high school",
#                        "HS graduate or GED": "2-High school",
#                        "HIGH SCHOOL GRADUATE - high school DIPLOMA or the equivalent (GED)": "2-High school",
#                        "Some college, no degree": "3-Some college",
#                        "Associate degree": "3-Some college",
#                        "Bachelors degree": "4-Bachelor's degree",
#                        "Bachelor\x92s degree": "4-Bachelor's degree",
#                        "Master\x92s degree": "5-Professional or Graduate degree",
#                        "Masters degree": "5-Professional or Graduate degree",
#                        "Professional or Doctorate degree": "5-Professional or Graduate degree"}


# df_renamed["ppeduc"].replace(education_recodings, inplace=True) # subject's education
# df_renamed["w6_q10"].replace(education_recodings, inplace=True) # partner's education
# df_renamed["w6_q14"].replace(education_recodings, inplace=True) # subjects's mother's education
# df_renamed["w6_q11"].replace(education_recodings, inplace=True) # partner's mother's education

**NOTE: The code below has been commented out as the categorical education columns are redundant. We already have numeric education columns.**

In [48]:
# print(list(df_renamed["ppeduc"].unique()))
# print("- - -")
# print(list(df_renamed["w6_q10"].unique()))

### Rename Education Columns

**NOTE: The code below has been commented out as the categorical education columns are redundant. We already have numeric education columns.**

In [49]:
# cols_to_rename = {
#     "ppeduc": "subjectEduc_cat",
#     "w6_q10": "partnerEduc_cat",
#     "w6_q14": "subjectMotherEduc_cat",
#     "w6_q11": "partnerMotherEduc_cat"
# }

# df_renamed.rename(columns=cols_to_rename, inplace=True)

# list(df_renamed.columns)

## Recode householdIncome to be numeric

In [50]:
list(df_renamed["householdIncome"].unique())

['$40,000 to $49,999',
 '$150,000 to $174,999',
 '$200,000 to $249,999',
 '$175,000 to $199,999',
 '$75,000 to $84,999',
 '$50,000 to $59,999',
 '$60,000 to $74,999',
 '$15,000 to $19,999',
 '$250,000 or more',
 '$85,000 to $99,999',
 '$100,000 to $124,999',
 '$20,000 to $24,999',
 '$30,000 to $34,999',
 '$10,000 to $12,499',
 '$25,000 to $29,999',
 '$5,000 to $7,499',
 '$125,000 to $149,999',
 '$35,000 to $39,999',
 'Less than $5,000',
 '$7,500 to $9,999',
 '$12,500 to $14,999']

Recoding income categories into approximate mid-point numeric values.

In [51]:
income_recodings = {
    'Less than $5,000': 2500,
    '$5,000 to $7,499': 6250,
    '$7,500 to $9,999': 8750,
    '$10,000 to $12,499': 11250,
    '$12,500 to $14,999': 13750,
    '$15,000 to $19,999': 17500,
    '$20,000 to $24,999': 22500,
    '$25,000 to $29,999': 27500,
    '$30,000 to $34,999': 32500,
    '$35,000 to $39,999': 37500,
    '$40,000 to $49,999': 45000, # gap of 10k
    '$50,000 to $59,999': 55000, # gap of 10k
    '$60,000 to $74,999': 67500, # gap of 15k
    '$75,000 to $84,999': 80000, # gap of 10k
    '$85,000 to $99,999': 92500, # gap of 15k
    '$100,000 to $124,999': 112500, # gap of 25k
    '$125,000 to $149,999': 137500, # gap of 25k
    '$150,000 to $174,999': 150000, # gap of 25k
    '$175,000 to $199,999': 187500, # gap of 25k
    '$200,000 to $249,999': 225000, # gap of 50k
    '$250,000 or more': 300000, # gap of 100k
}

df_renamed["householdIncome"].replace(income_recodings, inplace=True)

list(df_renamed["householdIncome"].unique())

[45000,
 150000,
 225000,
 187500,
 80000,
 55000,
 67500,
 17500,
 300000,
 92500,
 112500,
 22500,
 32500,
 11250,
 27500,
 6250,
 137500,
 37500,
 2500,
 8750,
 13750]

## Recode employmentStatus

In [52]:
list(df_renamed['employmentStatus'].unique())

['Working - as a paid employee',
 'Not working - other',
 'Not working - retired',
 'Working - self-employed',
 'Not working - looking for work',
 'Not working - disabled',
 'Not working - on temporary layoff from a job']

In [53]:
employment_recodings = {
    'Working - as a paid employee': "employed",
     'Not working - other': "unemployed",
     'Not working - retired': "retired",
     'Working - self-employed': "unemployed",
     'Not working - looking for work': "unemployed",
     'Not working - disabled': "unemployed",
     'Not working - on temporary layoff from a job': "unemployed"
}

df_renamed["employmentStatus"].replace(employment_recodings, inplace=True)

list(df_renamed["employmentStatus"].unique())

['employed', 'unemployed', 'retired']

## Recode subjectPoliticalParty & partnerPoliticalParty

- subjectPoliticalParty to subjectParty_DemPos_RepNeg

- partnerPoliticalParty to partnerParty_DemPos_RepNeg

In [54]:
list(df_renamed['subjectPoliticalParty'].unique())

['Leans Democrat',
 'Not Strong Republican',
 'Strong Democrat',
 'Not Strong Democrat',
 'Leans Republican',
 'Strong Republican',
 'Undecided/Independent/Other']

In [55]:
party_recodings = {
    'Strong Democrat':3,
    'Not Strong Democrat':2,
    'Leans Democrat':1,
    'Undecided/Independent/Other':0,
    'Leans Republican':-1,
    'Not Strong Republican':-2,
    'Strong Republican':-3,
    'Refused':0
}

df_renamed["subjectParty_DemPos_RepNeg"] = df_renamed["subjectPoliticalParty"].replace(party_recodings)
df_renamed["partnerParty_DemPos_RepNeg"] = df_renamed["partnerPoliticalParty"].replace(party_recodings)

print(list(df_renamed["subjectParty_DemPos_RepNeg"].unique()))
print(list(df_renamed["partnerParty_DemPos_RepNeg"].unique()))

[1, -2, 3, 2, -1, -3, 0]
[-1, 1, 0, 3, 2, -3, -2]

---
---

# Create Features

### Create binary "isHispanic" feature from "ppethm"

In [56]:
print(list(df_renamed["ppethm"].unique()))

['White, Non-Hispanic', 'Hispanic', 'Black, Non-Hispanic', '2+ Races, Non-Hispanic', 'Other, Non-Hispanic']

In [57]:
df_renamed["isHispanic"] = np.where(df_renamed["ppethm"] == "Hispanic", "yes", "no")

df_renamed.drop("ppethm", axis=1, inplace=True)

df_renamed["isHispanic"].unique()

array(['no', 'yes'], dtype=object)

In [58]:
list(df_renamed.columns)

['ID',
 'sexFrequency',
 'attendReligiousServiceFreq',
 'householdSize',
 'houseType',
 'householdIncome',
 'isMetroArea',
 'ownHouseRentOther',
 'employmentStatus',
 'subjectGrewUpInUS',
 'subjectCountryWhenMetPartner',
 'numRelativesSeePerMonth',
 'numOfTimesMarried',
 'whoEarnedMore',
 'interracial',
 'subjectAgeWhenMet',
 'partnerGender',
 'subjectPoliticalParty',
 'partnerPoliticalParty',
 'subjectGender',
 'isMarried',
 'subjectAge',
 'partnerAge',
 'subjectEduc_years',
 'partnerEduc_years',
 'subjectMotherEduc_years',
 'partnerMotherEduc_years',
 'subjectRace',
 'partnerRace',
 'region',
 'straightGayLesbian',
 'genderSubjectAttractedTo',
 'isLivingTogether',
 'relationshipQuality',
 'subjectSexualIdentity',
 'numOfHouseMembersAges0to1',
 'numOfHouseMembersAges2to5',
 'numOfHouseMembersAges6to12',
 'numOfHouseMembersAges13to17',
 'numOfHouseMembersAges18toOver',
 'w6_q21a_month',
 'w6_q21b_month',
 'met_YearFraction',
 'shipStart_YearFraction',
 'met_to_shipStart_diff',
 'moveIn_YearFraction',
 'shipStart_to_moveIn_YearFraction',
 'metThru_family',
 'metThru_friend',
 'metThru_orAs_neighbors',
 'metThru_orAs_coworkers',
 'metIn_school',
 'metIn_college',
 'metIn_military',
 'metIn_church',
 'metIn_voluntaryOrg',
 'metAs_customerAndClient',
 'metIn_restaurantOrBar',
 'metIn_privateParty',
 'metIn_public',
 'metOn_blindDate',
 'metOn_vacation',
 'metThru_notInternetDatingService',
 'metOn_businessTrip',
 'metAs_coworkers',
 'metOnline_other',
 'metOnline_datingSiteOrApp',
 'metOnline_socialNetwork',
 'metOnline_gaming',
 'metOnline_chat',
 'metOnline_nonDatingSite',
 'metOnline_all',
 'subjectParty_DemPos_RepNeg',
 'partnerParty_DemPos_RepNeg',
 'isHispanic']

### Create partyDifference

In [59]:
def partyDiff(row):

    return abs(row["subjectParty_DemPos_RepNeg"] - row["partnerParty_DemPos_RepNeg"])

df_renamed['partyDifference'] = df_renamed.apply(partyDiff, axis=1)

df_renamed['partyDifference'].unique()

array([2, 1, 0, 3, 5, 6, 4], dtype=int64)

In [60]:
# Drop all political party coluymns (Already replaced by numeric columns and samePoliticalParty)

columns = [
        "subjectPoliticalParty",
        "partnerPoliticalParty",
    ]

df_renamed.drop(columns, axis=1, inplace=True)

list(df_renamed.columns)

['ID',
 'sexFrequency',
 'attendReligiousServiceFreq',
 'householdSize',
 'houseType',
 'householdIncome',
 'isMetroArea',
 'ownHouseRentOther',
 'employmentStatus',
 'subjectGrewUpInUS',
 'subjectCountryWhenMetPartner',
 'numRelativesSeePerMonth',
 'numOfTimesMarried',
 'whoEarnedMore',
 'interracial',
 'subjectAgeWhenMet',
 'partnerGender',
 'subjectGender',
 'isMarried',
 'subjectAge',
 'partnerAge',
 'subjectEduc_years',
 'partnerEduc_years',
 'subjectMotherEduc_years',
 'partnerMotherEduc_years',
 'subjectRace',
 'partnerRace',
 'region',
 'straightGayLesbian',
 'genderSubjectAttractedTo',
 'isLivingTogether',
 'relationshipQuality',
 'subjectSexualIdentity',
 'numOfHouseMembersAges0to1',
 'numOfHouseMembersAges2to5',
 'numOfHouseMembersAges6to12',
 'numOfHouseMembersAges13to17',
 'numOfHouseMembersAges18toOver',
 'w6_q21a_month',
 'w6_q21b_month',
 'met_YearFraction',
 'shipStart_YearFraction',
 'met_to_shipStart_diff',
 'moveIn_YearFraction',
 'shipStart_to_moveIn_YearFraction',
 'metThru_family',
 'metThru_friend',
 'metThru_orAs_neighbors',
 'metThru_orAs_coworkers',
 'metIn_school',
 'metIn_college',
 'metIn_military',
 'metIn_church',
 'metIn_voluntaryOrg',
 'metAs_customerAndClient',
 'metIn_restaurantOrBar',
 'metIn_privateParty',
 'metIn_public',
 'metOn_blindDate',
 'metOn_vacation',
 'metThru_notInternetDatingService',
 'metOn_businessTrip',
 'metAs_coworkers',
 'metOnline_other',
 'metOnline_datingSiteOrApp',
 'metOnline_socialNetwork',
 'metOnline_gaming',
 'metOnline_chat',
 'metOnline_nonDatingSite',
 'metOnline_all',
 'subjectParty_DemPos_RepNeg',
 'partnerParty_DemPos_RepNeg',
 'isHispanic',
 'partyDifference']

### Create season_met

- spring (March, April, May)
- summer (June, July, August)
- autumn (September, October, November)
- winter (December, January, February)

In [61]:
# "w6_q21a_month", # month subject first met partner

list(df_renamed["w6_q21a_month"].unique())

['March',
 'May',
 'January',
 'September',
 'December',
 'October',
 'July',
 'June',
 'August',
 'April',
 nan,
 'November',
 'February']

In [62]:
season_months = {
    'spring':['March', 'April', 'May'],
    'summer':['June', 'July', 'August'],
    'autumn':['September', 'October', 'November'],
    'winter':['December', 'January', 'February']
}

def getSeason(row, column):

    for season in season_months.keys():
        
        if row[column] in season_months[season]:
            
            return season
        
    return None


df_renamed['season_met'] = df_renamed.apply(getSeason, args=['w6_q21a_month'], axis=1)

list(df_renamed['season_met'].unique())

['spring', 'winter', 'autumn', 'summer', None]

### Create season_shipStart

In [63]:
# "w6_q21b_month", # month subject began romantic relationship w partner

list(df_renamed["w6_q21b_month"].unique())

['March',
 'August',
 'June',
 'April',
 'October',
 'January',
 'July',
 'November',
 'May',
 'September',
 'February',
 'December',
 nan]

In [64]:
df_renamed['season_shipStart'] = df_renamed.apply(getSeason, args=['w6_q21b_month'], axis=1)

list(df_renamed['season_shipStart'].unique())

['spring', 'summer', 'autumn', 'winter', None]

**Removing the month columns.**

(Already used for their purpose of converting to seasons.)

In [65]:
df_renamed.drop(['w6_q21b_month', 'w6_q21a_month'], axis=1, inplace=True)

### Create ageGap

In [66]:
def getDiff(row):

    return abs(row["subjectAge"] - row["partnerAge"])


df_renamed["ageGap"] = df_renamed.apply(getDiff, axis=1)

### Create timesDivorcedOrWidowed:

- numOfTimesMarried clashes with isMarried:

    - a value of married 1 time can mean an ongoing marriage, divorces, or spouse deaths.
    
Create timesDivorced and drop numOfTimesMarried

In [67]:
df_renamed["isMarried"].unique()

['No, I am not Married', 'Yes, I am Married']
Categories (2, object): ['Yes, I am Married' < 'No, I am not Married']

In [68]:
def getDivorces(row):
    
    if pd.isnull(row["isMarried"]) or pd.isnull(row["numOfTimesMarried"]):
        
        return None
    
    isMarried = 0 if row["isMarried"][0:2] == "No" else 1
    
    return int(row["numOfTimesMarried"]) - isMarried


df_renamed["timesDivorcedOrWidowed"] = df_renamed.apply(getDivorces, axis=1)

df_renamed["timesDivorcedOrWidowed"].unique()

array([ 1.,  0.,  3.,  2.,  4., nan])

In [69]:
# drop num of times married

df_renamed.drop("numOfTimesMarried", axis=1, inplace=True)

list(df_renamed.columns)

['ID',
 'sexFrequency',
 'attendReligiousServiceFreq',
 'householdSize',
 'houseType',
 'householdIncome',
 'isMetroArea',
 'ownHouseRentOther',
 'employmentStatus',
 'subjectGrewUpInUS',
 'subjectCountryWhenMetPartner',
 'numRelativesSeePerMonth',
 'whoEarnedMore',
 'interracial',
 'subjectAgeWhenMet',
 'partnerGender',
 'subjectGender',
 'isMarried',
 'subjectAge',
 'partnerAge',
 'subjectEduc_years',
 'partnerEduc_years',
 'subjectMotherEduc_years',
 'partnerMotherEduc_years',
 'subjectRace',
 'partnerRace',
 'region',
 'straightGayLesbian',
 'genderSubjectAttractedTo',
 'isLivingTogether',
 'relationshipQuality',
 'subjectSexualIdentity',
 'numOfHouseMembersAges0to1',
 'numOfHouseMembersAges2to5',
 'numOfHouseMembersAges6to12',
 'numOfHouseMembersAges13to17',
 'numOfHouseMembersAges18toOver',
 'met_YearFraction',
 'shipStart_YearFraction',
 'met_to_shipStart_diff',
 'moveIn_YearFraction',
 'shipStart_to_moveIn_YearFraction',
 'metThru_family',
 'metThru_friend',
 'metThru_orAs_neighbors',
 'metThru_orAs_coworkers',
 'metIn_school',
 'metIn_college',
 'metIn_military',
 'metIn_church',
 'metIn_voluntaryOrg',
 'metAs_customerAndClient',
 'metIn_restaurantOrBar',
 'metIn_privateParty',
 'metIn_public',
 'metOn_blindDate',
 'metOn_vacation',
 'metThru_notInternetDatingService',
 'metOn_businessTrip',
 'metAs_coworkers',
 'metOnline_other',
 'metOnline_datingSiteOrApp',
 'metOnline_socialNetwork',
 'metOnline_gaming',
 'metOnline_chat',
 'metOnline_nonDatingSite',
 'metOnline_all',
 'subjectParty_DemPos_RepNeg',
 'partnerParty_DemPos_RepNeg',
 'isHispanic',
 'partyDifference',
 'season_met',
 'season_shipStart',
 'ageGap',
 'timesDivorcedOrWidowed']

### Create householdMinor_num

In [70]:
def sumMinors(row):
    
    columns = [
        "numOfHouseMembersAges0to1",
        "numOfHouseMembersAges2to5",
        "numOfHouseMembersAges6to12",
        "numOfHouseMembersAges13to17"
    ]
    
    return sum(row[columns])


df_renamed["householdMinor_num"] = df_renamed.apply(sumMinors, axis=1)

df_renamed["householdMinor_num"].unique()

array([0, 2, 3, 1, 4, 6, 5, 8], dtype=int64)

### Create householdAdults_num

- Includes the subject. (And possibly the partner if they live together.)

In [71]:
df_renamed["householdAdults_num"] = df_renamed.copy()["numOfHouseMembersAges18toOver"]

df_renamed["householdAdults_num"].unique()

[1, 2, 3, 4, 5, 7, 6, 8, 12, 9]
Categories (10, int64): [1 < 2 < 3 < 4 ... 7 < 8 < 9 < 12]

In [72]:
# Drop all household count columns

columns = [
        "numOfHouseMembersAges0to1",
        "numOfHouseMembersAges2to5",
        "numOfHouseMembersAges6to12",
        "numOfHouseMembersAges13to17",
        "numOfHouseMembersAges18toOver"
    ]

df_renamed.drop(columns, axis=1, inplace=True)

list(df_renamed.columns)

['ID',
 'sexFrequency',
 'attendReligiousServiceFreq',
 'householdSize',
 'houseType',
 'householdIncome',
 'isMetroArea',
 'ownHouseRentOther',
 'employmentStatus',
 'subjectGrewUpInUS',
 'subjectCountryWhenMetPartner',
 'numRelativesSeePerMonth',
 'whoEarnedMore',
 'interracial',
 'subjectAgeWhenMet',
 'partnerGender',
 'subjectGender',
 'isMarried',
 'subjectAge',
 'partnerAge',
 'subjectEduc_years',
 'partnerEduc_years',
 'subjectMotherEduc_years',
 'partnerMotherEduc_years',
 'subjectRace',
 'partnerRace',
 'region',
 'straightGayLesbian',
 'genderSubjectAttractedTo',
 'isLivingTogether',
 'relationshipQuality',
 'subjectSexualIdentity',
 'met_YearFraction',
 'shipStart_YearFraction',
 'met_to_shipStart_diff',
 'moveIn_YearFraction',
 'shipStart_to_moveIn_YearFraction',
 'metThru_family',
 'metThru_friend',
 'metThru_orAs_neighbors',
 'metThru_orAs_coworkers',
 'metIn_school',
 'metIn_college',
 'metIn_military',
 'metIn_church',
 'metIn_voluntaryOrg',
 'metAs_customerAndClient',
 'metIn_restaurantOrBar',
 'metIn_privateParty',
 'metIn_public',
 'metOn_blindDate',
 'metOn_vacation',
 'metThru_notInternetDatingService',
 'metOn_businessTrip',
 'metAs_coworkers',
 'metOnline_other',
 'metOnline_datingSiteOrApp',
 'metOnline_socialNetwork',
 'metOnline_gaming',
 'metOnline_chat',
 'metOnline_nonDatingSite',
 'metOnline_all',
 'subjectParty_DemPos_RepNeg',
 'partnerParty_DemPos_RepNeg',
 'isHispanic',
 'partyDifference',
 'season_met',
 'season_shipStart',
 'ageGap',
 'timesDivorcedOrWidowed',
 'householdMinor_num',
 'householdAdults_num']

---
---

# Create Labels

### Before creating new columns from RelationshipQuality, Remove all cases of nan or refused

- The main focus of this project will be on RelationshipQuality

- All missing values should be removed

In [73]:
valid_options = ["Excellent", "Good", "Fair", "Poor", "Very Poor"]

isValid = df_renamed["relationshipQuality"].isin(valid_options)

print(df_renamed.shape)

df_renamed = df_renamed[isValid]

print(df_renamed.shape)

(3391, 72)
(2844, 72)

### Create Continuous Variable (From relationshipQuality)

- For regression

In [74]:
numeric_ratings = {
    "Excellent": 5,
    "Good": 4,
    "Fair": 3,
    "Poor": 2,
    "Very Poor": 1
}

df_renamed["relationshipQuality_num"] = df_renamed["relationshipQuality"].copy()

df_renamed["relationshipQuality_num"].replace(numeric_ratings, inplace=True)

df_renamed["relationshipQuality_num"] = pd.to_numeric(df_renamed["relationshipQuality_num"])

df_renamed[["relationshipQuality", "relationshipQuality_num"]].head(3)

  relationshipQuality  relationshipQuality_num
1           Excellent                        5
2                Good                        4
4           Excellent                        5

In [75]:
list(df_renamed["relationshipQuality_num"].unique())

[5, 4, 3, 1, 2]

### Create Categorical Binary Variable (From relationshipQuality)

- For classification

In [76]:
is_good = {
    "Excellent": 1,
    "Good": 1,
    "Fair": 0,
    "Very Poor": 0,
    "Poor": 0
}

df_renamed["relationshipQuality_isGood"] = df_renamed["relationshipQuality"].copy()

df_renamed["relationshipQuality_isGood"].replace(is_good, inplace=True)

df_renamed["relationshipQuality_isGood"] = pd.to_numeric(df_renamed["relationshipQuality_isGood"])

df_renamed[["relationshipQuality", "relationshipQuality_num", "relationshipQuality_isGood"]].head(3)

  relationshipQuality  relationshipQuality_num  relationshipQuality_isGood
1           Excellent                        5                           1
2                Good                        4                           1
4           Excellent                        5                           1

In [77]:
list(df_renamed["relationshipQuality_isGood"].unique())

[1, 0]

---
---

# Export "df_renamed" to CSV

**So I can use the use the CSV in seperate notebooks for:**

- Exploratory analysis
- Unsupervised learning
- Regression (Supervised Learning)
- Classification (Supervised Learning)

In [78]:
# alphbetize column names

df_renamed = df_renamed.sort_index(axis=1)

list(df_renamed.columns)

['ID',
 'ageGap',
 'attendReligiousServiceFreq',
 'employmentStatus',
 'genderSubjectAttractedTo',
 'houseType',
 'householdAdults_num',
 'householdIncome',
 'householdMinor_num',
 'householdSize',
 'interracial',
 'isHispanic',
 'isLivingTogether',
 'isMarried',
 'isMetroArea',
 'metAs_coworkers',
 'metAs_customerAndClient',
 'metIn_church',
 'metIn_college',
 'metIn_military',
 'metIn_privateParty',
 'metIn_public',
 'metIn_restaurantOrBar',
 'metIn_school',
 'metIn_voluntaryOrg',
 'metOn_blindDate',
 'metOn_businessTrip',
 'metOn_vacation',
 'metOnline_all',
 'metOnline_chat',
 'metOnline_datingSiteOrApp',
 'metOnline_gaming',
 'metOnline_nonDatingSite',
 'metOnline_other',
 'metOnline_socialNetwork',
 'metThru_family',
 'metThru_friend',
 'metThru_notInternetDatingService',
 'metThru_orAs_coworkers',
 'metThru_orAs_neighbors',
 'met_YearFraction',
 'met_to_shipStart_diff',
 'moveIn_YearFraction',
 'numRelativesSeePerMonth',
 'ownHouseRentOther',
 'partnerAge',
 'partnerEduc_years',
 'partnerGender',
 'partnerMotherEduc_years',
 'partnerParty_DemPos_RepNeg',
 'partnerRace',
 'partyDifference',
 'region',
 'relationshipQuality',
 'relationshipQuality_isGood',
 'relationshipQuality_num',
 'season_met',
 'season_shipStart',
 'sexFrequency',
 'shipStart_YearFraction',
 'shipStart_to_moveIn_YearFraction',
 'straightGayLesbian',
 'subjectAge',
 'subjectAgeWhenMet',
 'subjectCountryWhenMetPartner',
 'subjectEduc_years',
 'subjectGender',
 'subjectGrewUpInUS',
 'subjectMotherEduc_years',
 'subjectParty_DemPos_RepNeg',
 'subjectRace',
 'subjectSexualIdentity',
 'timesDivorcedOrWidowed',
 'whoEarnedMore']

In [79]:
# Export

df_renamed.to_csv("data/df_renamed.csv")