# Regression

By: Oscar Ko

This notebook was created for data analysis and classification on this dataset from Stanford:

https://data.stanford.edu/hcmst2017

---
---

# Step 1: Imports and Data

In [3]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')


df = pd.read_csv("data/df_renamed.csv")

print(df.shape, "\n")

df.info(verbose=True)

(2844, 75)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2844 entries, 0 to 2843
Data columns (total 75 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        2844 non-null   int64
 1   ID                                2844 non-null   int64
 2   ageGap                            2844 non-null   float64
 3   attendReligiousServiceFreq        2844 non-null   object
 4   employmentStatus                  2844 non-null   object
 5   genderSubjectAttractedTo          2837 non-null   object
 6   houseType                         2844 non-null   object
 7   householdAdults_num               2844 non-null   int64
 8   householdIncome                   2844 non-null   int64
 9   householdMinor_num                2844 non-null   int64
 10  householdSize                     2844 non-null   int64
 11  interracial                       2822 non-null   object
 12  isHispanic                        2844 non-null   bool
 13  isLivingTogether                  2844 non-null   object
 14  isMarried                         2844 non-null   object
 15  isMetroArea                       2844 non-null   object
 16  metAs_coworkers                   2780 non-null   object
 17  metAs_customerAndClient           2780 non-null   object
 18  metAs_workNeighbors               2780 non-null   object
 19  metIn_church                      2780 non-null   object
 20  metIn_college                     2780 non-null   object
 21  metIn_military                    2780 non-null   object
 22  metIn_privateParty                2780 non-null   object
 23  metIn_public                      2780 non-null   object
 24  metIn_restaurantOrBar             2780 non-null   object
 25  metIn_school                      2780 non-null   object
 26  metIn_voluntaryOrg                2780 non-null   object
 27  metOn_blindDate                   2780 non-null   object
 28  metOn_businessTrip                2780 non-null   object
 29  metOn_vacation                    2780 non-null   object
 30  metOnline_all                     2844 non-null   object
 31  metOnline_chat                    2780 non-null   object
 32  metOnline_datingSiteOrApp         2780 non-null   object
 33  metOnline_gaming                  2780 non-null   object
 34  metOnline_nonDatingSite           2780 non-null   object
 35  metOnline_other                   2780 non-null   object
 36  metOnline_socialNetwork           2780 non-null   object
 37  metThru_family                    2780 non-null   object
 38  metThru_friend                    2780 non-null   object
 39  metThru_notInternetDatingService  2780 non-null   object
 40  metThru_orAs_neighbors            2780 non-null   object
 41  met_YearFraction                  2810 non-null   float64
 42  met_to_shipStart_diff             2747 non-null   float64
 43  moveIn_YearFraction               2405 non-null   float64
 44  numRelativesSeePerMonth           2827 non-null   float64
 45  ownHouseRentOther                 2844 non-null   object
 46  partnerAge                        2844 non-null   float64
 47  partnerEduc_years                 2842 non-null   float64
 48  partnerGender                     2844 non-null   object
 49  partnerMotherEduc_years           2805 non-null   float64
 50  partnerParty_DemPos_RepNeg        2844 non-null   int64
 51  partnerRace                       2844 non-null   object
 52  partyDifference                   2844 non-null   int64
 53  region                            2844 non-null   object
 54  relationshipQuality               2844 non-null   object
 55  relationshipQuality_isGood        2844 non-null   int64
 56  relationshipQuality_num           2844 non-null   int64
 57  season_met                        2818 non-null   object
 58  season_shipStart                  2781 non-null   object
 59  sexFrequency                      2844 non-null   object
 60  shipStart_YearFraction            2757 non-null   float64
 61  shipStart_to_moveIn_YearFraction  2354 non-null   float64
 62  straightGayLesbian                2844 non-null   object
 63  subjectAge                        2844 non-null   int64
 64  subjectAgeWhenMet                 2810 non-null   float64
 65  subjectCountryWhenMetPartner      2844 non-null   object
 66  subjectEduc_years                 2844 non-null   float64
 67  subjectGender                     2844 non-null   object
 68  subjectGrewUpInUS                 2844 non-null   object
 69  subjectMotherEduc_years           2835 non-null   float64
 70  subjectParty_DemPos_RepNeg        2844 non-null   int64
 71  subjectRace                       2834 non-null   object
 72  subjectSexualIdentity             2844 non-null   object
 73  timesDivorcedOrWidowed            2838 non-null   float64
 74  whoEarnedMore                     2844 non-null   object
dtypes: bool(1), float64(14), int64(12), object(48)
memory usage: 1.6+ MB

### Test-Train Stratified Split

- Stratified split to ensure equal proportions of all labels in both sets.
- Use on "relationshipQuality_isGood"

First drop the other two outcome labels, leaving just "relationshipQuality_num"

In [4]:
# Remove "relationshipQuality" and "relationshipQuality_isGood"

df_copy = df.copy().drop(["relationshipQuality", "relationshipQuality_isGood"], axis=1)

success1 = "relationshipQuality_isGood" not in df_copy.columns
success2 = "relationshipQuality" not in df_copy.columns

print("Sucessfully removed both columns?", success1 & success2)

Sucessfully removed both columns? True

**The Split**

Since the "relationshipQuality_num" is a numeric variable with only 5 values, it can be stratified along the five values as if it were categorical, which helps create equally proportionate test and train sets. (The modeling will still treat it as a numeric variable.)

In [5]:
# import package
from sklearn.model_selection import train_test_split

# declare our X inputs and y outcomes
X = df_copy.drop("relationshipQuality_num", axis=1)
y = df_copy["relationshipQuality_num"]


# stratify split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y,
                                                    stratify=y, 
                                                    test_size=0.2,
                                                    random_state=42)

print("X_train.shape = ", X_train.shape)
print("X_test.shape = ", X_test.shape)

print("y_train.shape = ", y_train.shape)
print("y_test.shape = ", y_test.shape)

print("\n")
print("y_train class proportions: \n", y_train.value_counts(normalize=True))

print("\n")
print("y_test class proportions: \n", y_test.value_counts(normalize=True))

X_train.shape =  (2275, 72)
X_test.shape =  (569, 72)
y_train.shape =  (2275,)
y_test.shape =  (569,)


y_train class proportions:
 5    0.599560
4    0.310330
3    0.071209
2    0.010989
1    0.007912
Name: relationshipQuality_num, dtype: float64


y_test class proportions:
 5    0.599297
4    0.311072
3    0.070299
2    0.010545
1    0.008787
Name: relationshipQuality_num, dtype: float64

### Remove unneeded columns and missing values

The code is the same as in the classification notebook.

In [6]:

# removing columns --------------------------------------

columns_to_remove = [
    "moveIn_YearFraction",
    "shipStart_to_moveIn_YearFraction",
    "Unnamed: 0", # Also Remove column with no useful info
    "ID" # Also Remove column with no useful info
]

# anything done to the training set has to be done to the testing set
X_train.drop(columns_to_remove, axis=1, inplace=True)
X_test.drop(columns_to_remove, axis=1, inplace=True)


# Dropping NA values ------------------------------------

def cleanDatasets(X_data, y_data):
    
    cols_with_na = X_data.columns[X_data.isna().any()].tolist()
    
    for col in cols_with_na:
        
        indexes = X_data[col].notna()
        X_data = X_data[indexes]
        y_data = y_data[indexes]
    
    # filter odd partner age cases
    age_filter = X_data["partnerAge"] > 5
    X_data = X_data[age_filter]
    y_data = y_data[age_filter]
    
    return X_data, pd.DataFrame(y_data)

# anything done to the training set has to be done to the testing set        
X_train, y_train = cleanDatasets(X_train, y_train)
X_test, y_test = cleanDatasets(X_test, y_test)


# recombine training sets
training_set = pd.concat([X_train, y_train], axis=1)


# Check all cases and columns
print(training_set.shape)


print(X_train.shape, X_test.shape)

(2090, 69)
(2090, 68) (518, 68)

---
---

# Step 2: Prepare the Data for Machine Learning

The code is the same as in the classification notebook.

In [7]:
# First get the numeric columns and the categorical columns

numeric_features = X_train._get_numeric_data().columns

categorical_features = list(set(X_train.columns) - set(numeric_features))

print(len(X_train.columns), len(numeric_features), len(categorical_features))

print(X_train.shape, X_test.shape)

68 21 47
(2090, 68) (518, 68)

In [8]:
# One hot encode categorical features for the X_train and X_test sets

X_train = pd.get_dummies(X_train, columns=categorical_features, drop_first=True)
X_test = pd.get_dummies(X_test, columns=categorical_features, drop_first=True)

print(X_train.shape, X_test.shape)

(2090, 107) (518, 105)

#### Taking care of the extra columns

In [10]:
train_extra_cols = []

test_extra_cols = []


for col in X_test.columns:

    if col not in X_train.columns:
        
        test_extra_cols.append(col)
        
        
for col in X_train.columns:

    if col not in X_test.columns:
        
        train_extra_cols.append(col)
        
print(len(train_extra_cols), " extra train columns:\n",  train_extra_cols)
print(len(test_extra_cols), " extra test columns:\n",  test_extra_cols)

4  extra train columns:
 ['attendReligiousServiceFreq_Refused', 'subjectGrewUpInUS_Refused', 'partnerGender_[Partner Name] is Other, please specify', 'metOnline_nonDatingSite_yes']
2  extra test columns:
 ['isLivingTogether_Refused', 'subjectCountryWhenMetPartner_Refused']

**NOTES:** Some options within the categorical columns were not selected by any of the subjects within the **test** group, so those options did not become their own columns when one-hot encoding.

Some options within the categorical columns were not selected by any of the subjects within the **train** group, so those options did not become their own columns when one-hot encoding.

- I will create columns with just zeros to fill in this gap, so the machine learning models can work without error.

In [11]:
def addZeroCols(row, extra_cols):
    
    for col in extra_cols:
        
        row[col] = 0
        
    return row


X_test = X_test.apply(addZeroCols, args=[train_extra_cols], axis=1)
X_train = X_train.apply(addZeroCols, args=[test_extra_cols], axis=1)

print(X_train.shape, X_test.shape)

(2090, 109) (518, 109)

### Feature Scaling on Numeric Columns with Standardization

In [13]:
# import scaling & column transformer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

# Create a function to scale the train and test sets

def scaleCategoricalFeatures(X_data):
    
    scaler = StandardScaler()

    X_data[numeric_features] = scaler.fit_transform(X_data[numeric_features])
    
    return X_data

X_train = scaleCategoricalFeatures(X_train)
X_test = scaleCategoricalFeatures(X_test)

print(X_train.shape, X_test.shape)

(2090, 109) (518, 109)

### Make sure it worked by seeing if Standard Deviations of Numeric Columns are 1

In [14]:
X_train.describe()

,ageGap,householdAdults_num,householdIncome,householdMinor_num,householdSize,isHispanic,met_YearFraction,met_to_shipStart_diff,numRelativesSeePerMonth,partnerAge,...,subjectRace_Asian or Pacific Islander,subjectRace_Black or African American,subjectRace_Other (please specify),subjectRace_White,houseType_A mobile home,houseType_A one-family house attached to one or more houses,houseType_A one-family house detached from any other house,"houseType_Boat, RV, van, etc.",isLivingTogether_Refused,subjectCountryWhenMetPartner_Refused
count,2.090000e+03,2.090000e+03,2.090000e+03,2.090000e+03,2.090000e+03,2.090000e+03,2.090000e+03,2.090000e+03,2.090000e+03,2.090000e+03,...,2090.000000,2090.000000,2090.00000,2090.000000,2090.000000,2090.000000,2090.000000,2090.000000,2090.0,2090.0
mean,6.209812e-17,1.375295e-16,-5.397065e-17,2.996009e-17,-2.291628e-16,2.267192e-16,9.687918e-15,9.298782e-17,2.287909e-16,-1.130409e-16,...,0.038756,0.087081,0.02201,0.814354,0.036842,0.082775,0.723445,0.000957,0.0,0.0
std,1.000239e+00,1.000239e+00,1.000239e+00,1.000239e+00,1.000239e+00,1.000239e+00,1.000239e+00,1.000239e+00,1.000239e+00,1.000239e+00,...,0.193059,0.282022,0.14675,0.388914,0.188419,0.275608,0.447402,0.030927,0.0,0.0
min,-8.615692e-01,-1.391770e+00,-1.349058e+00,-5.497378e-01,-1.262110e+00,-3.652474e-01,-3.308361e+00,-3.705394e-01,-6.710181e-01,-2.410680e+00,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,-6.535665e-01,-2.188671e-01,-7.142473e-01,-5.497378e-01,-5.376360e-01,-3.652474e-01,-7.691073e-01,-3.705394e-01,-6.710181e-01,-8.618190e-01,...,0.000000,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,-2.375610e-01,-2.188671e-01,-1.914617e-01,-5.497378e-01,-5.376360e-01,-3.652474e-01,2.017838e-01,-3.308403e-01,-2.779059e-01,6.749774e-02,...,0.000000,0.000000,0.00000,1.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0
75%,1.784444e-01,-2.188671e-01,2.939820e-01,4.398849e-01,7.301935e-01,-3.652474e-01,8.440656e-01,-1.126409e-01,3.117625e-01,7.489967e-01,...,0.000000,0.000000,0.00000,1.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0
max,8.498554e+00,6.818551e+00,3.094619e+00,7.367244e+00,5.258156e+00,2.737871e+00,1.371824e+00,1.266423e+01,9.156788e+00,2.855448e+00,...,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0

In [15]:
# alphbetize column names

X_train = X_train.sort_index(axis=1)
X_test = X_test.sort_index(axis=1)

X_train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2090 entries, 1087 to 2731
Data columns (total 109 columns):
 #    Column                                                                                        Dtype
---   ------                                                                                        -----
 0    ageGap                                                                                        float64
 1    attendReligiousServiceFreq_More than once a week                                              int64
 2    attendReligiousServiceFreq_Never                                                              int64
 3    attendReligiousServiceFreq_Once a week                                                        int64
 4    attendReligiousServiceFreq_Once a year or less                                                int64
 5    attendReligiousServiceFreq_Once or twice a month                                              int64
 6    attendReligiousServiceFreq_Refused                                                            int64
 7    employmentStatus_retired                                                                      int64
 8    employmentStatus_unemployed                                                                   int64
 9    genderSubjectAttractedTo_sexually attracted mostly to same gender, sometimes opposite gender  int64
 10   genderSubjectAttractedTo_sexually attracted only to opposite gender                           int64
 11   genderSubjectAttractedTo_sexually attracted only to same gender                               int64
 12   genderSubjectAttractedTo_sexually attracted to men and women equally                          int64
 13   houseType_A mobile home                                                                       int64
 14   houseType_A one-family house attached to one or more houses                                   int64
 15   houseType_A one-family house detached from any other house                                    int64
 16   houseType_Boat, RV, van, etc.                                                                 int64
 17   householdAdults_num                                                                           float64
 18   householdIncome                                                                               float64
 19   householdMinor_num                                                                            float64
 20   householdSize                                                                                 float64
 21   interracial_yes                                                                               int64
 22   isHispanic                                                                                    float64
 23   isLivingTogether_Refused                                                                      int64
 24   isLivingTogether_Yes                                                                          int64
 25   isMarried_Yes, I am Married                                                                   int64
 26   isMetroArea_Non-Metro                                                                         int64
 27   metAs_coworkers_yes                                                                           int64
 28   metAs_customerAndClient_yes                                                                   int64
 29   metAs_workNeighbors_yes                                                                       int64
 30   metIn_church_yes                                                                              int64
 31   metIn_college_yes                                                                             int64
 32   metIn_military_yes                                                                            int64
 33   metIn_privateParty_yes                                                                        int64
 34   metIn_public_yes                                                                              int64
 35   metIn_restaurantOrBar_yes                                                                     int64
 36   metIn_school_yes                                                                              int64
 37   metIn_voluntaryOrg_yes                                                                        int64
 38   metOn_blindDate_yes                                                                           int64
 39   metOn_businessTrip_yes                                                                        int64
 40   metOn_vacation_yes                                                                            int64
 41   metOnline_all_yes                                                                             int64
 42   metOnline_chat_yes                                                                            int64
 43   metOnline_datingSiteOrApp_yes                                                                 int64
 44   metOnline_gaming_yes                                                                          int64
 45   metOnline_nonDatingSite_yes                                                                   int64
 46   metOnline_other_yes                                                                           int64
 47   metOnline_socialNetwork_yes                                                                   int64
 48   metThru_family_yes                                                                            int64
 49   metThru_friend_yes                                                                            int64
 50   metThru_notInternetDatingService_yes                                                          int64
 51   metThru_orAs_neighbors_yes                                                                    int64
 52   met_YearFraction                                                                              float64
 53   met_to_shipStart_diff                                                                         float64
 54   numRelativesSeePerMonth                                                                       float64
 55   ownHouseRentOther_Owned or being bought by you or someone in your household                   int64
 56   ownHouseRentOther_Rented for cash                                                             int64
 57   partnerAge                                                                                    float64
 58   partnerEduc_years                                                                             float64
 59   partnerGender_[Partner Name] is Male                                                          int64
 60   partnerGender_[Partner Name] is Other, please specify                                         int64
 61   partnerMotherEduc_years                                                                       float64
 62   partnerParty_DemPos_RepNeg                                                                    float64
 63   partnerRace_Asian or Pacific Islander                                                         int64
 64   partnerRace_Black or African American                                                         int64
 65   partnerRace_Other (please specify)                                                            int64
 66   partnerRace_White                                                                             int64
 67   partyDifference                                                                               float64
 68   region_Northeast                                                                              int64
 69   region_South                                                                                  int64
 70   region_West                                                                                   int64
 71   season_met_spring                                                                             int64
 72   season_met_summer                                                                             int64
 73   season_met_winter                                                                             int64
 74   season_shipStart_spring                                                                       int64
 75   season_shipStart_summer                                                                       int64
 76   season_shipStart_winter                                                                       int64
 77   sexFrequency_3 to 6 times a week                                                              int64
 78   sexFrequency_Once a day or more                                                               int64
 79   sexFrequency_Once a month or less                                                             int64
 80   sexFrequency_Once or twice a week                                                             int64
 81   sexFrequency_Refused                                                                          int64
 82   shipStart_YearFraction                                                                        float64
 83   straightGayLesbian_hetero couple                                                              int64
 84   straightGayLesbian_lesbian couple                                                             int64
 85   subjectAge                                                                                    float64
 86   subjectAgeWhenMet                                                                             float64
 87   subjectCountryWhenMetPartner_Refused                                                          int64
 88   subjectCountryWhenMetPartner_United States                                                    int64
 89   subjectEduc_years                                                                             float64
 90   subjectGender_Male                                                                            int64
 91   subjectGrewUpInUS_Refused                                                                     int64
 92   subjectGrewUpInUS_United States                                                               int64
 93   subjectMotherEduc_years                                                                       float64
 94   subjectParty_DemPos_RepNeg                                                                    float64
 95   subjectRace_Asian or Pacific Islander                                                         int64
 96   subjectRace_Black or African American                                                         int64
 97   subjectRace_Other (please specify)                                                            int64
 98   subjectRace_White                                                                             int64
 99   subjectSexualIdentity_Something else                                                          int64
 100  subjectSexualIdentity_bisexual                                                                int64
 101  subjectSexualIdentity_gay                                                                     int64
 102  subjectSexualIdentity_heterosexual or straight                                                int64
 103  subjectSexualIdentity_lesbian                                                                 int64
 104  timesDivorcedOrWidowed                                                                        float64
 105  whoEarnedMore_Refused                                                                         int64
 106  whoEarnedMore_We earned about the same amount                                                 int64
 107  whoEarnedMore_[Partner Name] earned more                                                      int64
 108  whoEarnedMore_[Partner Name] was not working for pay                                          int64
dtypes: float64(21), int64(88)
memory usage: 1.8 MB

---
---
# Step 3: Regression Modelling

### Full Model - Linear Regression

### Backwards Elimination - Linear Regression

### L1 - Lasso Regression

### L2 - Ridge Regression