# Analyzing Relationships with Machine Learning

By: Oscar Ko

This notebook is created to analyze this dataset on relationships from Stanford:

https://data.stanford.edu/hcmst2017

---
---

# Imports and Data

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')


imported_data = pd.read_stata("data/HCMST 2017 fresh sample for public sharing draft v1.1.dta")

imported_data.shape

(3510, 285)

In [2]:
imported_data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3510 entries, 0 to 3509
Data columns (total 285 columns):
 #    Column                            Non-Null Count  Dtype
---   ------                            --------------  -----
 0    CaseID                            3510 non-null   int16
 1    CASEID_NEW                        3510 non-null   int32
 2    qflag                             3510 non-null   category
 3    weight1                           2994 non-null   float64
 4    weight1_freqwt                    2994 non-null   float32
 5    weight2                           551 non-null    float64
 6    weight1a                          3110 non-null   float64
 7    weight1a_freqwt                   3110 non-null   float32
 8    weight_combo                      3510 non-null   float32
 9    weight_combo_freqwt               3510 non-null   float32
 10   duration                          3510 non-null   int16
 11   speed_flag                        3510 non-null   category
 12   consent                           3510 non-null   category
 13   xlgb                              3510 non-null   category
 14   S1                                3510 non-null   category
 15   S2                                1425 non-null   category
 16   S3                                648 non-null    category
 17   DOV_Branch                        3403 non-null   category
 18   Q3_Refused                        9 non-null      category
 19   Q4                                2856 non-null   category
 20   Q5                                468 non-null    category
 21   Q6A                               2856 non-null   category
 22   Q6B                               2856 non-null   category
 23   Q9                                2856 non-null   category
 24   Q10                               2856 non-null   category
 25   Q11                               2856 non-null   category
 26   Q12                               2856 non-null   category
 27   Q14                               2856 non-null   category
 28   Q15A7                             2856 non-null   category
 29   Q16                               2836 non-null   float64
 30   Q16_Refused                       20 non-null     category
 31   Q17A                              2079 non-null   category
 32   Q17B                              777 non-null    category
 33   Q17C                              1442 non-null   category
 34   Q17D                              1414 non-null   category
 35   Q19                               2856 non-null   category
 36   Q20                               465 non-null    category
 37   Q21A_Year                         2856 non-null   category
 38   Q21A_Month                        2856 non-null   category
 39   Q21B_Year                         2856 non-null   category
 40   Q21B_Month                        2856 non-null   category
 41   Q21C_Year                         2494 non-null   category
 42   Q21C_Month                        2494 non-null   category
 43   Q21D_Year                         2079 non-null   category
 44   Q21D_Month                        2079 non-null   category
 45   w6_identity                       2856 non-null   category
 46   w6_outness                        425 non-null    category
 47   w6_outness_timing                 371 non-null    category
 48   Q23                               2856 non-null   category
 49   Q24_Refused                       70 non-null     category
 50   Q25                               2856 non-null   category
 51   Q26                               1597 non-null   category
 52   Q27                               2856 non-null   category
 53   Q28                               2856 non-null   category
 54   w6_friend_connect_1               2856 non-null   category
 55   w6_friend_connect_2               2856 non-null   category
 56   w6_friend_connect_3               2856 non-null   category
 57   w6_friend_connect_4               2856 non-null   category
 58   w6_friend_connect_Refused         2856 non-null   category
 59   Q32                               2856 non-null   category
 60   Q34                               2856 non-null   category
 61   Q35_Refused                       220 non-null    category
 62   w6_sex_frequency                  2856 non-null   category
 63   w6_otherdate                      2856 non-null   category
 64   w6_how_many                       225 non-null    category
 65   w6_how_meet_Refused               12 non-null     category
 66   w6_otherdate_app                  224 non-null    category
 67   w6_how_many_app                   58 non-null     category
 68   Past_Partner_Q1                   538 non-null    category
 69   w6_relationship_end_nonmar        406 non-null    category
 70   w6_breakup_nonmar                 370 non-null    category
 71   w6_relationship_end_mar           132 non-null    category
 72   w6_who_breakup                    68 non-null     category
 73   Q5_2                              141 non-null    category
 74   Q6A_2                             538 non-null    category
 75   Q9B_2                             538 non-null    category
 76   Q10_2                             538 non-null    category
 77   Q11_2                             538 non-null    category
 78   Q12_2                             538 non-null    category
 79   Q14_2                             538 non-null    category
 80   Q15A7_2_1                         538 non-null    category
 81   Q16_2                             538 non-null    category
 82   Q16_2_Codes                       7 non-null      category
 83   Q17B_2                            538 non-null    category
 84   Q17C_2                            280 non-null    category
 85   Q17D_2                            258 non-null    category
 86   Q20_2                             538 non-null    category
 87   Q21A_2_Year                       538 non-null    category
 88   Q21A_2_Month                      538 non-null    category
 89   Q21B_2_Year                       538 non-null    category
 90   Q21B_2_Month                      538 non-null    category
 91   Q21C_2_Year                       234 non-null    category
 92   Q21C_2_Month                      234 non-null    category
 93   Q21D_2_Year                       132 non-null    category
 94   Q21D_2_Month                      132 non-null    category
 95   Q21E_2_Year                       438 non-null    category
 96   Q21E_2_Month                      438 non-null    category
 97   Q21F_2_start_range                525 non-null    category
 98   Q21F_2_Year                       100 non-null    category
 99   Q21F_2_Month                      100 non-null    category
 100  w6_identity_2                     538 non-null    category
 101  w6_outness_2                      125 non-null    category
 102  w6_outness_timing_2               108 non-null    category
 103  Q23_2                             538 non-null    category
 104  Q25_2                             538 non-null    category
 105  Q26_2                             202 non-null    category
 106  Q27_2                             538 non-null    category
 107  Q28_2                             538 non-null    category
 108  w6_friend_connect_2_1             538 non-null    category
 109  w6_friend_connect_2_2             538 non-null    category
 110  w6_friend_connect_2_3             538 non-null    category
 111  w6_friend_connect_2_4             538 non-null    category
 112  w6_friend_connect_2_Refused       538 non-null    category
 113  Q32_2                             538 non-null    category
 114  w6_otherdate_2                    538 non-null    category
 115  w6_how_many_2                     104 non-null    category
 116  w6_otherdate_app_2                101 non-null    category
 117  w6_how_many_app_2                 40 non-null     category
 118  partyid7                          3394 non-null   category
 119  PERSNET_hom                       3510 non-null   category
 120  ppc10017                          3510 non-null   category
 121  ppc21310                          3510 non-null   category
 122  ppp20071                          3394 non-null   category
 123  ppp20072                          3394 non-null   category
 124  ppage                             3510 non-null   category
 125  ppagecat                          3510 non-null   category
 126  ppagect4                          3510 non-null   category
 127  ppeduc                            3510 non-null   category
 128  ppeducat                          3510 non-null   category
 129  ppethm                            3510 non-null   category
 130  ppgender                          3510 non-null   category
 131  pphhhead                          3510 non-null   category
 132  pphhsize                          3510 non-null   category
 133  pphouse                           3510 non-null   category
 134  ppincimp                          3510 non-null   category
 135  ppmarit                           3510 non-null   category
 136  ppmsacat                          3510 non-null   category
 137  PPREG4                            3510 non-null   category
 138  ppreg9                            3510 non-null   category
 139  pprent                            3510 non-null   category
 140  PPT01                             3510 non-null   category
 141  PPT25                             3510 non-null   category
 142  PPT612                            3510 non-null   category
 143  PPT1317                           3510 non-null   category
 144  PPT18OV                           3510 non-null   category
 145  ppwork                            3510 non-null   category
 146  Race_1                            3510 non-null   category
 147  Race_2                            3510 non-null   category
 148  Race_3                            3510 non-null   category
 149  Race_4                            3510 non-null   category
 150  Race_5                            3510 non-null   category
 151  Race_6                            3510 non-null   category
 152  race1                             3510 non-null   category
 153  race2                             3510 non-null   category
 154  race3                             3510 non-null   category
 155  race4                             3510 non-null   category
 156  race5                             3510 non-null   category
 157  race6                             3510 non-null   category
 158  race7                             3510 non-null   category
 159  race8                             3510 non-null   category
 160  race9                             3510 non-null   category
 161  race10                            3510 non-null   category
 162  race11                            3510 non-null   category
 163  race12                            3510 non-null   category
 164  race13                            3510 non-null   category
 165  race14                            3510 non-null   category
 166  race15                            3510 non-null   category
 167  w6_took_the_survey                3510 non-null   category
 168  w6_prior_identity_lgb             3394 non-null   category
 169  w6_same_sex_couple                3394 non-null   category
 170  w6_same_sex_couple_gender         3394 non-null   category
 171  w6_q4                             3394 non-null   category
 172  w6_q5                             609 non-null    category
 173  w6_q6a                            3394 non-null   category
 174  w6_q6b                            3394 non-null   category
 175  w6_q9                             3374 non-null   float64
 176  w6_q10                            3394 non-null   category
 177  w6_q11                            3394 non-null   category
 178  w6_q12                            3394 non-null   category
 179  w6_q14                            3394 non-null   category
 180  w6_q15a1_truncated                3394 non-null   category
 181  w6_q15a4_truncated                3394 non-null   category
 182  w6_q15a7                          3394 non-null   category
 183  w6_q16                            3367 non-null   float64
 184  w6_q17                            3385 non-null   float64
 185  w6_attraction                     3381 non-null   category
 186  w6_q19                            2856 non-null   category
 187  w6_q20                            1003 non-null   category
 188  w6_q21a_year                      3341 non-null   float64
 189  w6_q21a_month                     3350 non-null   category
 190  w6_q21a_month_flag                3341 non-null   category
 191  w6_q21b_year                      3276 non-null   float64
 192  w6_q21b_month                     3301 non-null   category
 193  w6_q21b_month_flag                3301 non-null   float64
 194  w6_q21c_year                      2630 non-null   float64
 195  w6_q21c_month                     2649 non-null   category
 196  w6_q21c_month_flag                80 non-null     float64
 197  w6_q21d_year                      2169 non-null   float64
 198  w6_q21d_month                     2123 non-null   category
 199  w6_q21e_year                      410 non-null    float64
 200  w6_q21e_month                     395 non-null    category
 201  w6_q21f_year                      96 non-null     float64
 202  w6_q21f_month                     90 non-null     category
 203  w6_identity_all                   3394 non-null   category
 204  w6_outness_all                    550 non-null    category
 205  w6_outness_timing_all             476 non-null    float64
 206  w6_q23                            3394 non-null   category
 207  w6_q24_length                     3394 non-null   float32
 208  w6_q25                            3394 non-null   category
 209  w6_q26                            1799 non-null   float64
 210  w6_q27                            3394 non-null   category
 211  w6_q28                            3394 non-null   category
 212  w6_friend_connect_1_all           3394 non-null   category
 213  w6_friend_connect_2_all           3394 non-null   category
 214  w6_friend_connect_3_all           3394 non-null   category
 215  w6_friend_connect_4_all           3394 non-null   category
 216  w6_q32                            3394 non-null   category
 217  w6_q34                            2856 non-null   category
 218  w6_otherdate_all                  3394 non-null   category
 219  w6_how_many_all                   329 non-null    category
 220  w6_otherdate_app_all              325 non-null    category
 221  w6_how_many_app_all               98 non-null     category
 222  w6_number_people_met              3359 non-null   float32
 223  w6_otherdate_dichotomous          3363 non-null   category
 224  w6_married                        3394 non-null   category
 225  relate_duration_at_w6_years       2765 non-null   float32
 226  w6_number_people_met_app          323 non-null    float32
 227  weight_combo_v2                   3510 non-null   float32
 228  partnership_status                3510 non-null   category
 229  female                            3510 non-null   int8
 230  year_fraction_met                 3341 non-null   float32
 231  year_fraction_relstart            3276 non-null   float32
 232  age_when_met                      3341 non-null   float32
 233  time_from_met_to_rel              3263 non-null   float32
 234  year_fraction_first_cohab         2630 non-null   float32
 235  time_from_rel_to_cohab            2578 non-null   float32
 236  hcm2017q24_R_cowork               3295 non-null   category
 237  hcm2017q24_R_friend               3295 non-null   category
 238  hcm2017q24_R_family               3295 non-null   category
 239  hcm2017q24_R_sig_other            3295 non-null   category
 240  hcm2017q24_R_neighbor             3295 non-null   category
 241  hcm2017q24_P_cowork               3295 non-null   category
 242  hcm2017q24_P_friend               3295 non-null   category
 243  hcm2017q24_P_family               3295 non-null   category
 244  hcm2017q24_P_sig_other            3295 non-null   category
 245  hcm2017q24_P_neighbor             3295 non-null   category
 246  hcm2017q24_btwn_I_cowork          3295 non-null   category
 247  hcm2017q24_btwn_I_friend          3295 non-null   category
 248  hcm2017q24_btwn_I_family          3295 non-null   category
 249  hcm2017q24_btwn_I_sig_other       3295 non-null   category
 250  hcm2017q24_btwn_I_neighbor        3295 non-null   category
 251  hcm2017q24_school                 3295 non-null   category
 252  hcm2017q24_college                3295 non-null   category
 253  hcm2017q24_mil                    3295 non-null   category
 254  hcm2017q24_church                 3295 non-null   category
 255  hcm2017q24_vol_org                3295 non-null   category
 256  hcm2017q24_customer               3295 non-null   category
 257  hcm2017q24_bar_restaurant         3295 non-null   category
 258  hcm2017q24_party                  3295 non-null   category
 259  hcm2017q24_internet_other         3295 non-null   category
 260  hcm2017q24_internet_dating        3295 non-null   category
 261  hcm2017q24_internet_soc_network   3295 non-null   category
 262  hcm2017q24_internet_game          3295 non-null   category
 263  hcm2017q24_internet_chat          3295 non-null   category
 264  hcm2017q24_internet_org           3295 non-null   category
 265  hcm2017q24_public                 3295 non-null   category
 266  hcm2017q24_blind_date             3295 non-null   category
 267  hcm2017q24_vacation               3295 non-null   category
 268  hcm2017q24_single_serve_nonint    3295 non-null   category
 269  hcm2017q24_business_trip          3295 non-null   category
 270  hcm2017q24_work_neighbors         3295 non-null   category
 271  hcm2017q24_met_online             3394 non-null   category
 272  hcm2017_q24_length                3394 non-null   float32
 273  hcm2017q24_summary_all_codes      3295 non-null   float64
 274  w6_relationship_quality           2847 non-null   category
 275  hcm2017q24_met_through_family     3295 non-null   category
 276  hcm2017q24_met_through_friend     3295 non-null   category
 277  hcm2017q24_met_through_as_nghbrs  3295 non-null   category
 278  hcm2017q24_met_as_through_cowork  3295 non-null   category
 279  w6_subject_race                   3494 non-null   category
 280  interracial_5cat                  3365 non-null   category
 281  partner_mother_yrsed              3323 non-null   float32
 282  subject_mother_yrsed              3378 non-null   float32
 283  partner_yrsed                     3383 non-null   float32
 284  subject_yrsed                     3510 non-null   float32
dtypes: category(243), float32(20), float64(18), int16(2), int32(1), int8(1)
memory usage: 1.7 MB

# Select Specific Features to Keep

- Q4 and w6_q4 contain subject's partner's gender, but only w6_q4 contains gender for couples that are still together AND couples that are broken up.

    - w6_q4 will be selected to use. Q4 will not be used.
    
All the Q's are combined into the w6's

In [13]:
features = [
    
    # Good alone-------------------------
    
    "CASEID_NEW", # ID
    "w6_sex_frequency", # sexFrequency
    "ppp20072", # attendReligiousServiceFreq
    "pphhsize", # household size
    "pphouse", # type of house
    "ppincimp", # household income
    "ppmsacat", # metro area
    "pprent", # own, rent, other
    "ppwork", # employment status
    "w6_q15a1_truncated", # subject grew up in US?
    "w6_q15a4_truncated", # subject's living country when met partner
    "w6_q16", # how many relatives subject sees per month?
    "w6_q17", # how many times has subject been married?
    "w6_q23", # Who earned more (in 2016 or when last together)
    "interracial_5cat", # based on w6_subject_race and w6_q6b
    "w6_q32", # did you use an Internet service to meet partner?
    "age_when_met", # age when met in years,=ppage-(2017- w6_q21a_year)
    "w6_q4", # partner gender
    "partyid7", # subject's political party
    "w6_q12", # partner's political party
    
    # similar features-------------------
    
    "ppgender", # subject gender
    "female", # subject gender based on ppgender
    
    "S1", # isMarried
    "ppmarit", # marital status
    "w6_married", # married _ based on S1
    
    "ppage", # subject age
    "ppagecat", # subject age
    "ppagect4", # subject age
    
    "w6_q9", # partner's age in 2017
    
    "ppeduc", # subject education
    "ppeducat", # subject education
    "subject_yrsed", # RECODE of ppeduc (Education (Highest Degree Received))
    
    "w6_q10", # partner's education
    "partner_yrsed", # RECODE of w6_q10 (partner's educational attainment)
    
    "w6_q14", # subject's mother's education
    "subject_mother_yrsed", # RECODE of w6_q14 (Subject's mother's educational attainment)
    
    "w6_q11", # partner's mother's education
    "partner_mother_yrsed", # RECODE of w6_q11 (partner's mother's Education)

    "ppethm", # subject race / ethnicity
    "w6_subject_race", # based on single races Race_x
    
    "w6_q6a", # partner is Hispanic
    "w6_q6b", # partner's race
    
    "PPREG4", # region
    "ppreg9", # region
    
    "w6_q5", # same sex couple
    "w6_same_sex_couple", # same sex couple
    "w6_same_sex_couple_gender", # same sex couple specific (0=straight, 1=gay, 2=lesbian)
    
    "w6_attraction", # what gender(s) subject attracted to?
    
    "w6_q19", # couple living together?
    "w6_q20", # ever lived with partner?
    
    "w6_q34", # how would you describe the quality of your relationship with partner?
    "w6_relationship_quality", # quality of existing relationships based on w6_q34
    
    # to be combined---------------------
    
    "w6_identity", # sexualIdentity (straight, gay, e.t.c.)
    "w6_identity_2", # sexualIdentity (straight, gay, e.t.c.)
    "w6_identity_all", # subject sexual identity
    
    # to be filtered---------------------
    
    
    # Other: Household Ages ----------------------------
    
    "PPT01", # household member age
    "PPT25", # household member age
    "PPT612", # household member age
    "PPT1317", # household member age
    "PPT18OV", # household member age
    
    # Other: Year/Month of Relationship Stages  ---------------------------- 
    
    "w6_q21a_year", # year subject first met partner
    "w6_q21a_month", # month subject first met partner
    "w6_q21b_year", # year subject began romantic relationship w partner
    "w6_q21b_month", # month subject began romantic relationship w partner
    "w6_q21c_year", # year subject first lived with partner
    "w6_q21c_month", # month subject first lived with partner
    "w6_q21d_year", # year subject married partner
    "w6_q21d_month", # month subject married partner
    "w6_q21e_year", # year of breakup
    "w6_q21e_month", # month of breakup
    "w6_q21f_year", # year partner died
    "w6_q21f_month", # month partner died
    
    # Other: Year/Month of Relationship Stages (Fractions)  ---------------
    
    "year_fraction_met", # w6_q21a_year+((w6_q21a_month-0.5)/12)
    "year_fraction_relstart", # w6_q21b_year+((w6_q21b_month-0.5)/12)
    "time_from_met_to_rel", # year_fraction_relstart-year_fraction_met
    "year_fraction_first_cohab", # w6_q21c_year+((w6_q21c_month-0.5)/12)
    "time_from_rel_to_cohab", # year_fraction_first_cohab-year_fraction_relstart, neg reset to zero
    
    
    # Other: How met? (In-Person)  ---------------------------- 
    
    "w6_q25", # did subject and partner attend same H.S.
    "w6_q26", # did subject and partner attend same college
    "w6_q27", # did subject and partner grow up in same city or town
    "w6_q28", # did subject's parents know partner's parents before subject knew partner?
    "w6_friend_connect_1_all", # subject knew partner's friends before meeting partner
    "w6_friend_connect_2_all", # partner knew subjects friends before meeting subject
    "w6_friend_connect_3_all", # subject's friends knew partner's friends before subject and partner met
    "w6_friend_connect_4_all", # no prior connection between subject's friends and partner's friends

    # Other: Meeting people on apps  ---------------------------- 
    
    "w6_otherdate_all", # In past yr have you met anyone for dating romance or sex (not incl current partn
    "w6_how_many_all", # how many ppl did you meet (not including current partner if partnered) last yr
    "w6_otherdate_app_all", # not incl current partner (if partnered) did you use phone app last year to meet
    "w6_how_many_app_all", # how many ppl did you meet (not including partner) last year through phone apps?
    "w6_number_people_met_app", # number of people met with apps in the past year

]

df = imported_data[features]

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df.head(3)

,CASEID_NEW,w6_sex_frequency,ppp20072,pphhsize,pphouse,ppincimp,ppmsacat,pprent,ppwork,w6_q15a1_truncated,w6_q15a4_truncated,w6_q16,w6_q17,w6_q23,interracial_5cat,w6_q32,age_when_met,w6_q4,partyid7,w6_q12,ppgender,female,S1,ppmarit,w6_married,ppage,ppagecat,ppagect4,w6_q9,ppeduc,ppeducat,subject_yrsed,w6_q10,partner_yrsed,w6_q14,subject_mother_yrsed,w6_q11,partner_mother_yrsed,ppethm,w6_subject_race,w6_q6a,w6_q6b,PPREG4,ppreg9,w6_q5,w6_same_sex_couple,w6_same_sex_couple_gender,w6_attraction,w6_q19,w6_q20,w6_q34,w6_relationship_quality,w6_identity,w6_identity_2,w6_identity_all,PPT01,PPT25,PPT612,PPT1317,PPT18OV,w6_q21a_year,w6_q21a_month,w6_q21b_year,w6_q21b_month,w6_q21c_year,w6_q21c_month,w6_q21d_year,w6_q21d_month,w6_q21e_year,w6_q21e_month,w6_q21f_year,w6_q21f_month,year_fraction_met,year_fraction_relstart,time_from_met_to_rel,year_fraction_first_cohab,time_from_rel_to_cohab,w6_q25,w6_q26,w6_q27,w6_q28,w6_friend_connect_1_all,w6_friend_connect_2_all,w6_friend_connect_3_all,w6_friend_connect_4_all,w6_otherdate_all,w6_how_many_all,w6_otherdate_app_all,w6_how_many_app_all,w6_number_people_met_app
0,2014039,NaN,Never,1,A one-family house detached from any other house,"$40,000 to $49,999",Metro,Owned or being bought by you or someone in you...,Working - as a paid employee,United States,United States,1.0,1.0,I earned more,no,"Yes, an Internet dating or matchmaking site (l...",30.0,[Partner Name] is Male,Leans Democrat,Leans Republican,Male,0,"No, I am not Married",Divorced,no,30,25-34,30-44,26.0,Associate degree,Some college,14.0,HS graduate or GED,12.0,Associate degree,14.0,HS graduate or GED,12.0,"White, Non-Hispanic",White,No (Not Latino or Hispanic),White,Northeast,Mid-Atlantic,"Yes, we are a same-sex couple",same_sex_couple,gay male couple,sexually attracted to men and women equally,NaN,No,NaN,NaN,NaN,bisexual,bisexual,0,0,0,0,1,2017.0,March,2017.0,March,NaN,NaN,NaN,NaN,2017.0,June,NaN,NaN,2017.208374,2017.208374,0.000000,NaN,NaN,Different High School,NaN,No,No,no,no,no,yes,"Yes, I have met at least one person for dating...","Yes, I have met at least one person for dating...",1.0,NaN,0.0
1,2019003,Once a month or less,Never,4,A one-family house detached from any other house,"$150,000 to $174,999",Metro,Owned or being bought by you or someone in you...,Not working - other,United States,United States,1.0,1.0,[Partner Name] earned more,no,"No, I did NOT meet [Partner Name] through the ...",21.0,[Partner Name] is Male,Not Strong Republican,Leans Republican,Female,1,"Yes, I am Married",Married,yes,55,55-64,45-59,52.0,Masters degree,Bachelor's degree or higher,17.0,Masters degree,17.0,Bachelors degree,16.0,HS graduate or GED,12.0,"White, Non-Hispanic",White,No (Not Latino or Hispanic),White,Midwest,East-North Central,NaN,NOT same-sex souple,hetero couple,sexually attracted only to opposite gender,Yes,NaN,Excellent,excellent,heterosexual or straight,NaN,heterosexual or straight,0,0,0,2,2,1983.0,May,1995.0,August,1996.0,February,1996.0,February,NaN,NaN,NaN,NaN,1983.375000,1995.625000,12.250000,1996.125000,0.500000,Different High School,2.0,No,No,no,no,no,yes,"No, I have not met anyone for dating, romance,...",NaN,NaN,NaN,NaN
2,2145527,2 to 3 times a month,Once or twice a month,5,A one-family house detached from any other house,"$200,000 to $249,999",Metro,Owned or being bought by you or someone in you...,Working - as a paid employee,"Another country, please specify","Another country, please specify",0.0,1.0,I earned more,no,"Yes, an Internet dating or matchmaking site (l...",36.0,[Partner Name] is Female,Leans Democrat,Leans Democrat,Male,0,"Yes, I am Married",Married,yes,47,45-54,45-59,45.0,Masters degree,Bachelor's degree or higher,17.0,Associate degree,14.0,7th or 8th grade,7.5,9th grade,9.0,"White, Non-Hispanic",White,No (Not Latino or Hispanic),White,South,South Atlantic,NaN,NOT same-sex souple,hetero couple,sexually attracted only to opposite gender,Yes,NaN,Good,good,heterosexual or straight,NaN,heterosexual or straight,0,1,2,0,2,2006.0,January,2006.0,June,2006.0,July,2008.0,May,NaN,NaN,NaN,NaN,2006.041626,2006.458374,0.416748,2006.541626,0.083252,Different High School,2.0,No,No,no,no,no,yes,"No, I have not met anyone for dating, romance,...",NaN,NaN,NaN,NaN

In [14]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3510 entries, 0 to 3509
Data columns (total 90 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CASEID_NEW                 3510 non-null   int32
 1   w6_sex_frequency           2856 non-null   category
 2   ppp20072                   3394 non-null   category
 3   pphhsize                   3510 non-null   category
 4   pphouse                    3510 non-null   category
 5   ppincimp                   3510 non-null   category
 6   ppmsacat                   3510 non-null   category
 7   pprent                     3510 non-null   category
 8   ppwork                     3510 non-null   category
 9   w6_q15a1_truncated         3394 non-null   category
 10  w6_q15a4_truncated         3394 non-null   category
 11  w6_q16                     3367 non-null   float64
 12  w6_q17                     3385 non-null   float64
 13  w6_q23                     3394 non-null   category
 14  interracial_5cat           3365 non-null   category
 15  w6_q32                     3394 non-null   category
 16  age_when_met               3341 non-null   float32
 17  w6_q4                      3394 non-null   category
 18  partyid7                   3394 non-null   category
 19  w6_q12                     3394 non-null   category
 20  ppgender                   3510 non-null   category
 21  female                     3510 non-null   int8
 22  S1                         3510 non-null   category
 23  ppmarit                    3510 non-null   category
 24  w6_married                 3394 non-null   category
 25  ppage                      3510 non-null   category
 26  ppagecat                   3510 non-null   category
 27  ppagect4                   3510 non-null   category
 28  w6_q9                      3374 non-null   float64
 29  ppeduc                     3510 non-null   category
 30  ppeducat                   3510 non-null   category
 31  subject_yrsed              3510 non-null   float32
 32  w6_q10                     3394 non-null   category
 33  partner_yrsed              3383 non-null   float32
 34  w6_q14                     3394 non-null   category
 35  subject_mother_yrsed       3378 non-null   float32
 36  w6_q11                     3394 non-null   category
 37  partner_mother_yrsed       3323 non-null   float32
 38  ppethm                     3510 non-null   category
 39  w6_subject_race            3494 non-null   category
 40  w6_q6a                     3394 non-null   category
 41  w6_q6b                     3394 non-null   category
 42  PPREG4                     3510 non-null   category
 43  ppreg9                     3510 non-null   category
 44  w6_q5                      609 non-null    category
 45  w6_same_sex_couple         3394 non-null   category
 46  w6_same_sex_couple_gender  3394 non-null   category
 47  w6_attraction              3381 non-null   category
 48  w6_q19                     2856 non-null   category
 49  w6_q20                     1003 non-null   category
 50  w6_q34                     2856 non-null   category
 51  w6_relationship_quality    2847 non-null   category
 52  w6_identity                2856 non-null   category
 53  w6_identity_2              538 non-null    category
 54  w6_identity_all            3394 non-null   category
 55  PPT01                      3510 non-null   category
 56  PPT25                      3510 non-null   category
 57  PPT612                     3510 non-null   category
 58  PPT1317                    3510 non-null   category
 59  PPT18OV                    3510 non-null   category
 60  w6_q21a_year               3341 non-null   float64
 61  w6_q21a_month              3350 non-null   category
 62  w6_q21b_year               3276 non-null   float64
 63  w6_q21b_month              3301 non-null   category
 64  w6_q21c_year               2630 non-null   float64
 65  w6_q21c_month              2649 non-null   category
 66  w6_q21d_year               2169 non-null   float64
 67  w6_q21d_month              2123 non-null   category
 68  w6_q21e_year               410 non-null    float64
 69  w6_q21e_month              395 non-null    category
 70  w6_q21f_year               96 non-null     float64
 71  w6_q21f_month              90 non-null     category
 72  year_fraction_met          3341 non-null   float32
 73  year_fraction_relstart     3276 non-null   float32
 74  time_from_met_to_rel       3263 non-null   float32
 75  year_fraction_first_cohab  2630 non-null   float32
 76  time_from_rel_to_cohab     2578 non-null   float32
 77  w6_q25                     3394 non-null   category
 78  w6_q26                     1799 non-null   float64
 79  w6_q27                     3394 non-null   category
 80  w6_q28                     3394 non-null   category
 81  w6_friend_connect_1_all    3394 non-null   category
 82  w6_friend_connect_2_all    3394 non-null   category
 83  w6_friend_connect_3_all    3394 non-null   category
 84  w6_friend_connect_4_all    3394 non-null   category
 85  w6_otherdate_all           3394 non-null   category
 86  w6_how_many_all            329 non-null    category
 87  w6_otherdate_app_all       325 non-null    category
 88  w6_how_many_app_all        98 non-null     category
 89  w6_number_people_met_app   323 non-null    float32
dtypes: category(67), float32(11), float64(10), int32(1), int8(1)
memory usage: 718.4 KB

In [77]:
imported_data["Q5"].unique()

[NaN, 'No, we are an opposite-sex couple', 'Yes, we are a same-sex couple']
Categories (2, object): ['Yes, we are a same-sex couple' < 'No, we are an opposite-sex couple']

In [78]:
imported_data["w6_q5"].unique()

['Yes, we are a same-sex couple', NaN, 'No, we are an opposite-sex couple']
Categories (2, object): ['Yes, we are a same-sex couple' < 'No, we are an opposite-sex couple']

In [ ]:
filterNone_Q = imported_data["Q5"].isnull()
filterNone_w6 = imported_data["w6_q5"].isnull()

imported_data[filterNone_Q & filterNone_w6]

In [71]:
male_Q4 = df["Q4"] == "[Partner Name] is Male"
female_w6_q4 = df["w6_q4"] == "[Partner Name] is Female"

female_Q4 = df["Q4"] == "[Partner Name] is Female"
male_w6_q4 = df["w6_q4"] == "[Partner Name] is Male"

df[(male_Q4 & female_w6_q4) | (female_Q4 & male_w6_q4)]

Empty DataFrame
Columns: [CASEID_NEW, Q4, w6_q4]
Index: []

In [4]:
imported_data[['Q20', 'Q20_2', 'w6_q20']].head()

   Q20 Q20_2 w6_q20
0  NaN    No     No
1  NaN   NaN    NaN
2  NaN   NaN    NaN
3  NaN    No     No
4  NaN   NaN    NaN

In [5]:
imported_data[['Q20', 'Q20_2', 'w6_q20']].tail()

      Q20 Q20_2 w6_q20
3505  NaN   NaN    NaN
3506   No   NaN     No
3507  NaN   NaN    NaN
3508  NaN   NaN    NaN
3509  NaN   NaN    NaN

In [8]:
imported_data[['w6_identity', 'w6_identity_2']].head()

                w6_identity w6_identity_2
0                       NaN      bisexual
1  heterosexual or straight           NaN
2  heterosexual or straight           NaN
3                       NaN      bisexual
4  heterosexual or straight           NaN